[2018-07-20 15:41] fergstar opened #1 "iMac Pro"
Not working with an iMac Pro. Shows 'No Display'...

[2018-07-21 15:36] alin23 commented on #1
It's supposed to work with external monitors only. The built-in display should already have adaptive brightness. I'm not sure but doesn't your iMac Pro already adapt using the ambient light sensor?

[2018-09-09 20:46] alin23 opened #4 "Make hotkeys configurable"

[2018-09-30 07:35] giulioungaretti opened #5 "Usb-c macbook + usb-c dock + hdmi + dell u2715h monitor"
I think the app does not change the brightness at all :D  Is the app supposed to work with the mentioned hardware?

Let me know if I can report more details // logs in case it's meant to work :D

And thanks for making this open source!

[2018-10-03 20:32] alin23 commented on #5
Sorry for the delayed response, I rarely remember to check Github notifications. It's really hard to tell which setup would work and which wouldn't.
Basically, if the monitor implements DDC and you're using a connection that supports DDC command interface (which I think includes HDMI, USB-C, DisplayPort and VGA), then Lunar should work. I'm really just working with the standards.

A dock between t

[2018-10-04 13:27] giulioungaretti commented on #5
@alin23 no worries! thanks for the answer! Will check and report back!

[2018-10-05 08:42] giulioungaretti commented on #5
@alin23 ddcctl reports a failure to send the DDC command, so it looks like it must be the usb-c dock! The monitor does indeed support DDC/CI and it's on.
I may try with a  usb-c->HDMI simple adaptor just to make sure!

[2018-10-05 09:36] alin23 commented on #5
Thanks for testing! Yes, a direct connection would be a good idea. Too bad you can't use Lunar through the dock..

[2018-10-14 09:04] nhat opened #6 "App name is missing in Bartender 3"
Please see screen shot below.

Maybe this is not an issue on Lunar's side, but Bartender doesn't show any menu item name.

macOS High Sierra 10.13.6
Bartender 3.0.47

<img width="853" alt="lunar-menu-name" src="https://user-images.githubusercontent.com/2656835/46914659-abde7500-cfa0-11e8-8875-8ada12f23b53.png">

[2018-10-15 19:16] alin23 commented on #6
Huh, you're right. This might be a Lunar issue, I'll look into it

[2018-10-19 17:44] 1natsu172 opened #7 "Settings forced change when desktop is switched"
Thanks for great app. This is a bug report.

---

Lunar settings are unintentionally changed when switching desktop on Mac.

For example, the brightness is set to 0 then switch other desktop… the screen gets brighter.
Although the screen gets brighter, the setting value on the UI is not changed.

_The "desktop" I am talking about is the desktop of MacOS standard functions in mission control._

[2018-10-19 19:02] alin23 commented on #7
Hello! Thanks for the feedback!

Unfortunately I can't reproduce this and I'm not seeing anything in the logs. I'm working on a debug system that would make bugs like these easier to debug in the future. I'll keep this issue as reference for now.

If you'll have time, I'd be glad if you would help me debug this when the new update is ready ^_^

[2018-10-20 06:08] 1natsu172 commented on #7
@alin23 Thanks for reply!

It might be a problem specific to the environment ...?
I forgot to write versions. Lunar is v2.1.2. The MacOS is Mojave. Using external display is BDM4350UC/11 of Philips.

Since I just updated to Mojave, this bug may be affected by other applications.
I will investigate even a bit more.

Yes, welcome!

[2018-10-29 09:35] honza171 commented on #4
Also a checkbox to launch app on login automatically or not would be welcome.

[2018-11-12 09:15] MaximKraev opened #8 "Is something wrong with the site?"
the site is not working, can you make downloads available in Github releases?

thank you

[2018-11-12 16:04] alin23 commented on #8
Oh sorry, I didn't notice that. Thanks for reporting, I'll fix it in a few minutes.

[2019-02-05 00:53] jsalbre opened #9 "No UI displayed"
Running El Capitan, Lunar's icon shows up in Activity Monitor but with no name, and no UI or Menubar item ever appears.

The following lines appear in the logs:

04.02.19 17:52:28.752 Lunar[3711]: [Crashlytics] Version 3.10.5 (130)
04.02.19 17:52:28.839 Lunar[3711]: CoreData: Failed to load optimized model at path '/Applications/Lunar.app/Contents/Resources/Model.momd/Model v2.omo'
04.02.19 17:52:

[2019-02-07 13:33] alin23 commented on #9
Thanks for reporting!

This might happen because the latest version of Lunar was compiled using a beta version of Xcode.
I'll push an update with a recompiled version to (hopefully) fix this.

[2019-02-20 22:04] MasterRee commented on #4
First, thanks for making this slick utility! Both of the features requested above would resolve the most significant issues with the app. Currently, the hotkey conflicts with the shortcut to open the "Downloads" folder.

[2019-02-21 11:51] alin23 commented on #4
Working on it ^_^ I may have some free time next week for this

[2019-03-07 23:02] kirmorozov commented on #5
Works well for me with dell p2415q(I'm sure dell has same internals) with type-c->hdmi adapter.
So most likely dock is the reason.

[2019-03-08 09:01] alin23 commented on #5
Yes, more users emailed me with the same issue because they were using a dock. I don't think there's much I can do here unfortunately. I'll add a notice on the website on the next Lunar update ^_^

[2019-03-08 09:01] #5 closed

[2019-03-10 15:46] cybercussion opened #10 "Unable to swipe left to view settings - MacBook Pro 2018"
It does pickup the 2 LG Ultrafine 22" monitors, but doesn't seem to allow me to get to the view settings.

 LG's own display management app only works with 1 monitor plugged in at a time, and these monitors seem to have to have a defect where  the Mac puts the displays to sleep there is a 50/50 chance the monitors don't come back on.  This forces me to manually unplug the USB-C cables and plug the

[2019-03-10 17:00] alin23 commented on #10
Yes, I'm aware of the swipe problem. It's actually fixed here on Github, but I wanted to add one more (very requested) feature before releasing a new version. I've been busy with another project these days but I'll try to release the new version these days.

Also, Lunar has some problems coping with multiple monitors of the exact same type. This happens because it constructs a unique ID for each m

[2019-03-10 18:05] cybercussion commented on #10
Awesome, I'll keep an eye out.  Thanks much.

[2019-03-11 09:37] alin23 commented on #10
@cybercussion should be fixed now in v2.2.0. Let me know if it works for you ^_^

[2019-03-11 09:51] alin23 commented on #4
Done in v2.2.0

[2019-03-11 09:51] #4 closed

[2019-03-11 16:53] alin23 commented on #9
Should be fixed in v2.2.1

[2019-03-11 16:53] #9 closed

[2019-03-11 22:34] timtraversy opened #11 "Animate brightness transitions"
Love this app. Currently when you change the monitor brightness it snaps to that new value immediately. Would you accept a PR that changed this behavior so that brightness changed smoothly from one value to another (i.e. `50%, 51%,...,74%, 75%`). Should just require writing values in a loop with a delay. Thanks!

[2019-03-13 01:09] timtraversy opened #12 "Update fails"
<img width="463" alt="Screen Shot 2019-03-12 at 9 09 02 PM" src="https://user-images.githubusercontent.com/21370530/54246383-17564f80-450b-11e9-9a87-ec10b0c89dff.png">

Getting this error when trying to update to most recent version.

[2019-03-13 04:27] karthicraghupathi commented on #12
This error is affecting me too. I was tailing the system logs and I noticed the following error:

[code]

I don't know much about macOS apps but I think the `html` extension at the end of the file could be the cause of the issue. Hope that helps!

[2019-03-13 17:45] timtraversy commented on #12
This has been fixed :) thanks @alin23

[2019-03-13 17:45] #12 closed

[2019-03-13 17:52] alin23 commented on #11
Sure, I would accept any contribution. Just make sure you test it thoroughly on your monitor. DDC is a very time sensitive protocol so I'm not sure if setting values that fast would work alright yet.

[2019-03-13 17:53] timtraversy commented on #11
Ok good to know, I'll take a look.

[2019-03-13 19:32] timtraversy commented on #11
Getting this while trying to build your WAYWindow fork. Do you have something set up different on your local machine?
[code]

[2019-03-13 19:46] alin23 commented on #11
Have you run `carthage build --cache-builds --platform macos` to build dependencies?
I'm sorry I haven't written a contribution guide yet, I have very little time to work on Lunar

[2019-03-13 19:50] timtraversy commented on #11
Yeah that worked for all the other Carthage deps except this one

[2019-03-13 19:52] timtraversy commented on #11
[code]

[2019-03-13 19:56] timtraversy commented on #11
Oh I figured it out. From log:
`error: Build input file cannot be found: '/Users/alin/Github/alin23/WAYWindow/WAYWindow/WAYWindow.m'`

[2019-03-13 21:34] dougc84 opened #13 "Feature Requests + Found Bugs"
Just stumbled on this app a couple days ago. I've been using `ddcctl` + Automator services + manually assigned hotkeys to adjust my monitor's values.  My monitor's control button is broken and barely works, and my monitor doesn't support LG's software, so it's the only way I can quickly and reliably adjust settings.  I love the design of this app (it's really pretty!) and functionality that works

[2019-03-14 09:30] alin23 commented on #11
Thanks for debugging that! I fixed the problem.
Just `git pull` and `carthage build` again.

I remember the Solar dependency had an issue with the deployment target version being too high, you might encounter that too.
I usually open `Carthage/Checkouts/Solar/Solar.xcodeproj` in Xcode and manually change the deployment target to 10.11 to match Lunar.

![image](https://user-images.githubusercontent

[2019-03-14 15:28] timtraversy commented on #11
Yes I got around the Solar bug, thanks. I’ll checkout out the fix.

[2019-03-14 16:14] alin23 commented on #13
Hi there!

1. The thing is that's how hotkeys worked a couple of days ago, but other users didn't like that. I'll see how I can make this configurable again.
2. Yes, separate min/max for manual is a good idea. I'll work on this next time I have some free time.
3. This works for me, I'm not sure what could be the problem:
![hotkey-change](https://media.giphy.com/media/6u2WWJYT3FmGyzyGMD/giphy.gif)

[2019-03-14 22:46] cybercussion commented on #10
Good to go, thanks!

[2019-03-15 09:30] #10 closed

[2019-03-19 17:00] alin23 commented on #6
This should be fixed now

[2019-03-19 17:00] #6 closed

[2019-03-19 17:01] alin23 commented on #11
Done!

[2019-03-19 17:01] #11 closed

[2019-03-19 17:03] alin23 commented on #7
Please reopen the issue if this happens again. I made some changes that should fix this but as I couldn't reproduce the bug in the first place, I had no way to validate them.

[2019-03-19 17:03] #7 closed

[2019-03-19 17:06] alin23 commented on #13
@dougc84 please check v2.3.0 and let me know what else do you think it's missing. I haven't implemented the noon offset thing because I didn't know if you'd still find it useful (and kinda ran out of free time).

The update doesn't address all your concerns yet, so please don't hesitate to go into detail of what feature/change would make Lunar perfect for your use case. I'll try to find a way to m

[2019-03-19 18:25] dougc84 commented on #13
@alin23 Hey!  Thanks for the heads up.  I could have sworn I responded via email to your last post but I guess I either didn't or GitHub didn't like it.

I'll give the new version a look through tonight.  You rock!

[2019-03-20 12:23] YuandaWang opened #15 "Unable to download the dmg file from official site"
After clicking the "Download for Mac" button on "lunarapp.site", it shows a text file: version https://git-lfs.github.com/spec/v1
oid sha256:86de6cf6485c5a0de56d5f99f8bfeba470e14a5267a5bb8535bfb01e6d4a5acd
size 14402165

[2019-03-20 23:29] tritethunder commented on #15
I have the exactly similar issue and If I try to upgrade the existing version from 2.1.2 to 2.3.0 it just failed.

[2019-03-20 23:30] tritethunder commented on #15
![image](https://user-images.githubusercontent.com/555317/54725737-7c93eb80-4b70-11e9-9126-46307562ecbe.png)

[2019-03-22 14:05] arpachain-admin opened #16 "Clarifications about the UI"
The change is not reflected to the screen and sync mode changes the screen's contrast to unreasonable value. The UI is not displayed properly.

[2019-03-23 13:15] krystof-k opened #17 "Option not to change contrast"
I've got a problem with my Dell UP2516D. There is a feature called _uniformity compensation_ that modifies contrast according to brightness automatically. However Lunar in the adaptive mode always tries to override the contrast and I'm getting annoying alerts all the time.

![IMG_3008](https://user-images.githubusercontent.com/11633481/54866596-124c9800-4d76-11e9-9ee8-cba16b3e5056.JPG)

It'd be gr

[2019-03-23 14:00] alin23 commented on #17
There is a Lock button under the brightness/contrast limits that you can click to enable the feature you want.

<img width="733" alt="image" src="https://user-images.githubusercontent.com/3819725/54867067-c9501000-4d84-11e9-8fcb-da30175e2a1f.png">

[2019-03-23 14:02] alin23 commented on #15
This should be fixed now. I had to host the website somewhere else and I screwed up the routes a bit.

[2019-03-23 14:07] alin23 commented on #16
Can you please give me more details, maybe with some pictures? I'm working on Mojave since the first versions of Lunar and never had any problem. I'm sure it's not Mojave's fault here, it might be an incompatibility issue with your system configuration or monitor.

Please let me know of the following:
1. On what device are you using this (Macbook Pro/Air/12inch, iMac, Mac mini etc.)
2. How is your

[2019-03-23 14:16] krystof-k commented on #17
Yes, but this still triggers the DDC/CI request and therefore causes the dialog.

[2019-03-23 14:19] alin23 commented on #17
Oh I see now. I'll release an update with a fix for this in a few minutes

[2019-03-23 14:39] krystof-k commented on #17
Awesome!

[2019-03-23 15:09] alin23 commented on #17
Please try the latest update (2.3.2)

[2019-03-23 15:11] krystof-k commented on #17
Works perfectly! You're incredible. 👍 Thanks!

[2019-03-23 15:11] #17 closed

[2019-03-23 15:13] alin23 commented on #17
Wow, that was fast! You welcome!

[2019-03-23 15:16] MarkYangjiayi opened #18 "How to completely delete Lunar"
Hi,

Great app you have developed, but its not actually what I expected so I tried to delete it.
However the effects of Lunar won't go away even when I deleted it. Is there any way I can get rid of it completely?

Thanks in advance!

[2019-03-23 15:21] #18 closed

[2019-03-23 16:04] alin23 commented on #18
If you use `brew cask` you can delete it with a single terminal command: `brew cask zap lunar`

Otherwise, you can delete the following files and folders:
1. ~/Library/Application Support/Lunar
2. ~/Library/Application Support/site.lunarapp.Lunar
3. ~/Library/Preferences/site.lunarapp.Lunar.plist
4. /Applications/Lunar.app

[2019-03-23 21:53] tritethunder commented on #15
Thanks for the fix. working now.

[2019-03-24 09:33] #15 closed

[2019-03-26 05:36] 1natsu172 commented on #7
Thanks some fix & update, but the problem was not solved. This problem continues to arise...

This is probably an environment-specific problem, so refrain from reopening Issue.

[2019-03-27 13:48] timtraversy commented on #11
I'm not seeing this in the most recent update. Is it animating on your monitor?

[2019-03-27 13:58] alin23 commented on #11
@timtraversy You have to enable smooth transition in the settings

[2019-03-27 14:05] timtraversy commented on #11
Ah right. It looks good! But the app menu freezes during transitions which is surprising because it seems like you are doing the transition async.

[2019-03-27 14:20] alin23 commented on #11
Yes, it is async but it's still running on the main queue which is the same one that runs the UI loop.
You can see a basic explanation here:

**Global queues**: concurrent queues that are shared by the whole system. There are four such queues with different priorities : high, default, low, and background. The background priority queue has the lowest priority and is throttled in any I/O activity to

[2019-03-28 18:31] simPod opened #19 "Not working with multiple displays"
I have 3 external displays, Lunar however controls brighness only on one of them.

Can I help debug somehow?

[2019-03-29 09:12] alin23 commented on #19
Are those 3 displays of the same model? Lunar tries to create a unique ID for each monitor using hardware data it can read like serial numbers, date of fabrication etc.
But for some monitors this data is just zeroes so Lunar sees monitors of the same model as just one.

[2019-03-29 09:27] simPod commented on #19
Yes, they are the exact same one. Can close if not fixable as my hw may be incompatible :)

[2019-03-29 09:42] alin23 commented on #19
I would love to fix this problem but I can't debug it because I don't have access to multiple monitors of the same kind. Would you like to do some remote debugging?

For the beginning I could send you a part of Lunar that does the hw data extraction to see if there is anything different between the monitors that we could use.

[2019-03-29 09:43] simPod commented on #19
Sure thing, bring it on

[2019-03-29 12:02] alin23 commented on #19
Download the binary here: [EDIDReader](https://media.githubusercontent.com/media/alin23/Lunar/master/bin/EDIDReader)

Run it in the terminal and redirect the output to a file with something like:
[code]

And upload that file to a pastebin or something and paste the link here.
Don't worry, the data is nothing sensitive or personal. Just manufacturer data.

I also uploaded the code here if you want

[2019-03-29 12:17] alin23 commented on #19
@simPod It would be great if you could run the tool multiple times with different brightness/contrast settings per monitor to see if that changes the output.

Something like:
1. Set brightness and contrast to 50 for all the monitors
2. Run `./EDIDReader > /tmp/edid_b50_c50.log`
3. Set brightness to 25 and contrast to 75 for all the monitors
4. Run `./EDIDReader > /tmp/edid_b25_c75.log`
5. Set brig

[2019-03-29 13:51] callzhang commented on #16
1. MBP-17 13'
2. USB-C & HDMI
3. ViewSonic VS16829
4. I am using it with lid open
5. I am wrong with the UI, there is a "Plus" button at exception that I thought is a bug.
6. Neither brightness or contrast was changed immediately after I scroll over(change) the number. But occasionally the brightness or contrast will change. In addition, I changed the mode to Sync and Adaptive, but the main monito

[2019-03-29 13:54] callzhang commented on #16
Some follow up question:
1. What is the default contrast value? I couldn't return to the original value after its sudden/occasional change.
2. What is Sync and Adaptive mode mean?
3. Can you include a manual or something explaining the curves and offset?

[2019-03-29 14:22] alin23 commented on #16
There is no default contrast value. Each monitor has a default from the factory but it always depends on the monitor's settings.

In Sync mode and Location mode, changing the limits for brightness/contrast won't automatically change the brightness on the monitor. Those are just settings for the adaptive algorithm which I'll explain below. If you want to change the values immediately, you can try t

[2019-03-29 17:24] simPod commented on #19
@alin23 hey, one issue when running:

[code]

[2019-03-29 17:36] alin23 commented on #19
Ok, I built it with the embed flag. Try downloading again from the same link

[2019-03-30 03:10] callzhang commented on #16
Thanks for the reply. However:
1. In manual mode the brightness doesn't change immediately when I change the number. (but rather change suddenly and radically)
2. In Sync mode the brightness doesn't change according to the system brightness or environment.
3. What does "Adaptive" mode mean?

[2019-03-30 10:17] alin23 commented on #16
1. The brightness isn't supposed to change at every small scroll/change of the number. It will change only after you stopped scrolling for a little while. The protocol used for making the brightness changes isn't fast enough to make these changes fast and smoothly.
2. I don't know what could be the problem here. Maybe you have too strict limits.
Try doing this:
    - **Make sure you have Sync mode

[2019-03-31 08:54] mvaneijgen opened #20 "Update Error! An error occurred while extracting the archive. Please try again later."
Seems like I'm having the same issue as https://github.com/alin23/Lunar/issues/12 but on a different version?

![](https://i.imgur.com/mn2wJIM.jpg)

[2019-03-31 11:31] edeis53 commented on #16
Lunar has absolutely zero effect on my external display in any mode or manual setting. Is there any possibility it has to do with the HDMI cable or USB->HDMI adapter?

Spec:
2018 Macbook Pro 13", latest Mojave 10.14.4
Monitor: Acer et241ybmi 23.8"
-DDC/CI option is set to ON via the montor's onscreen menu.

[2019-03-31 16:57] mwildx commented on #20
Same here

[2019-04-01 08:42] alin23 commented on #16
What kind of USB->HDMI adapter are you using? Most of this stuff doesn't implement DDC message passing so that's why Lunar won't work. Even some cables don't work.
For example I have a $30 HDMI-to-USB-C cable (no adapter, just a cable) and it messes up DDC completely. No matter what message I try to pass through it, the monitor just flickers a little and that's it.

Unfortunately it's hard to gues

[2019-04-01 08:43] alin23 commented on #20
I tried the delta feature of the updater to make the updates smaller and faster. I'll try to see if this is the problem and come back with an update

[2019-04-01 09:03] alin23 commented on #20
Ok, it should be fixed now. Quit Lunar and launch it again, then click Check for Updates to update. It seems I forgot to sign some updates.

[2019-04-01 09:03] #20 closed

[2019-04-01 09:05] alin23 commented on #19
@simPod please try the latest update (v2.3.3) to see if it fixes your problem.

**Note:** If the update fails, quit and relaunch Lunar to force a signature refetch. I had an issue with the signatures earlier today.

[2019-04-01 09:06] simPod commented on #19
@alin23 On it. I had no access to those screens during weekend, sorry.

[2019-04-01 09:06] alin23 commented on #19
No problem! Let me know if it works ^_^

[2019-04-01 09:09] simPod commented on #19
@alin23 it still controls only one screen of those 3 🤔 will send you logs we talked about on friday?

[2019-04-01 09:12] alin23 commented on #19
Yes, I'd like to see those logs. I'm still puzzled about this issue

[2019-04-01 09:31] simPod commented on #19
Still having the issue even with EDIDReader version

[code]

[2019-04-01 09:32] alin23 commented on #19
Isn't there another line above the `Referenced from` line? I don't see what is missing

[2019-04-01 10:15] edeis53 commented on #16
@alin23 I have a Raycue USB-C Hub/HDMI adapter.
Link: https://www.amazon.com/RayCue-Adapter-Charging-Notebook-Tablet/dp/B0795DWPFJ

I dug up in another forum a mention a few years back about similar issue with DVI->HDMI adapters or something of the likes and the conclusion was that the adapter is not bi-directional. Another poster was using an adapter that was bidirectional (and was mentioned in t

[2019-04-01 10:27] alin23 commented on #16
@edeis53 I'm working on updating the Lunar website with more info about all this stuff. As you have predicted, I'm getting tired with answering the same questions 😄

It's hard to find the time for this though. Please let me know if your new cable will work, I'll also ask around and try to compile a list with inexpensive cables/adapters that work as that is the biggest pain point I see.

[2019-04-01 10:34] simPod commented on #19
Upgraded software and suddently it works
[edid_b25_c75.log](https://github.com/alin23/Lunar/files/3028895/edid_b25_c75.log)
[edid_b50_c50.log](https://github.com/alin23/Lunar/files/3028896/edid_b50_c50.log)
[edid_b102030_c102030.log](https://github.com/alin23/Lunar/files/3028897/edid_b102030_c102030.log)

[2019-04-01 13:05] alin23 commented on #19
@simPod
Seems that my way of extracting EDID data is flawed.
Can you provide me with the output of the following command?
[code]

This should output the EDID data as seen by the system

[2019-04-01 13:07] simPod commented on #19
[code]

[2019-04-01 15:51] alin23 commented on #19
Ok, I think I'm getting somewhere. So in that hex data I can see some very slight differences. Most notably between the bytes 77 and 90:
[code]

Which in ASCII is:
[code]

These look like model numbers or something. But at least it's something that is unique for each monitor and hardcoded.

I've made some changes to the EDIDReader to see if I can extract the same data that `ioreg` gives us. Please

[2019-04-01 16:00] simPod commented on #19
There you go

[lunar.log](https://github.com/alin23/Lunar/files/3030327/lunar.log)

[2019-04-02 06:18] dougc84 commented on #13
@alin23 Sorry for the delays in getting back.  Since my schedule is constantly veering, I decided against using the adaptive mode since my schedule is just always bizarre, but I really like some of the things you've done!  Manual mode is all I really need, especially with the brightness/contrast caps.

However, a couple things:

When 2.3.3 came out, the auto update failed.  I got this:

![Screen S

[2019-04-02 07:03] alin23 commented on #13
Hey thanks for the detailed response! Yes, I'm aware of the update issue. I migrated to edDSA keys and forgot that I have to sign the updates with both the new and the old key to keep the chain of trust. I suspect the DMG problems is related to this.

I think you're right about the up/down hotkeys, they should also be capped. I see them mostly as fine tuning between the percentage hotkeys so it ma

[2019-04-02 07:13] mvaneijgen opened #21 "Keyboard shortcuts don't persist after reboot (stay disabled)"
I've a lot of keyboard shortcuts and yours conflict with mine. I don't need keyboard shortcuts for Lunar.app, so I delete them from the interface. But each reboot the keyboard shortcuts are back.

[2019-04-02 07:15] #21 closed

[2019-04-02 17:34] alin23 commented on #19
@simPod Thanks for all the debugging you did! It really helped.

I have an alpha version for the multi-monitor support that I'd like you to try: https://send.firefox.com/download/5148f724e23184d8/#jUUW-Bnfhf1rrf0-5Oss_g

I had to rewrite the whole DDC implementation from C to Swift so it might not work perfectly from the first time.

This thing is so hard to do because:
1. Vendors don't write all

[2019-04-02 20:05] alin23 commented on #21
I can't reproduce this. Do you launch Lunar from /Applications?

[2019-04-02 20:22] mvaneijgen commented on #21
Sorry, the UI confused me. When you delete a shortcut it becomes grey and has only the cmd, alt, swift shown, then when you relaunch the app, the other characters are back (and white-ish) which I thought ment they were reinstated, but only yellowed shortcuts are active.

That is why I closed te issue.

[2019-04-02 20:26] alin23 commented on #21
Yes, that's how the hotkey library is implemented. i agree it's a bit confusing, I'll see if I can improve this somehow

[2019-04-03 09:51] mvaneijgen opened #22 "Contrasts resets randomly. I have it set to 75 locked on the sync setting"
If the brightness is on 100% every thing on my monitor is blown out. If I set it to 75 it feels fine, so I want the contrast to never go above 75&, but still dim both my external screens adaptive with my laptop. This is what I do:

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/h1kGdem1-J4/0.jpg)](https://www.youtube.com/watch?v=h1kGdem1-J4)
video: https://www.youtube.com/watch?v=h1kGdem1-J4&f

[2019-04-03 11:22] simPod commented on #19
@alin23 now it doesn't control any screen 🤔 Changing values has no effect

[2019-04-03 11:45] alin23 commented on #22
This is an issue with storing display settings introduced in the latest update. I'm working on fixing it right now. I'll let you know when it's fixed 😄

[2019-04-03 11:56] alin23 commented on #19
Can you send me the Lunar log? You can find it here: `~/Library/Caches/Lunar/swiftybeaver.log`

[2019-04-03 11:58] simPod commented on #19
@alin23 yup. removed it, then relaunched and tried to change brightness

[code]

[2019-04-03 12:36] alin23 commented on #19
Ok, I have no idea where to start debugging this 😅

Some questions:
1. Do you have a Macbook with 2 GPUs?
2. Does Lunar detect 3 displays?
3. Can you send me an IORegistry dump file?
    1. Download the Xcode tools here: https://send.firefox.com/download/51129df2bfffd98d/#xmI2l_cV-26HLmDK4czdoQ
    2. Open the DMG, go to Hardware folder and launch IORegistryExplorer
    3. Press <kbd>Command</kbd>

[2019-04-03 13:39] alin23 commented on #19
Here's the version with updated logging: https://send.firefox.com/download/b0c91fc2e70e2cb9/#Pdqe5gT0zIBy9689S5MYgg

When you have time, please run this and send me the log from `~/Library/Caches/Lunar/swiftybeaver.log`

[2019-04-03 13:55] simPod commented on #19
I'm absolutely fine with trying to help you :) Don't worry! Will do tomorrow, I'm remoting for the rest of the day. Best!

[2019-04-08 20:23] simPod commented on #19
@alin23 just tried to download but I'm late

![image](https://user-images.githubusercontent.com/327717/55754451-fd962280-5a4c-11e9-99ff-5c885e152963.png)

can u reup pls?

[2019-04-08 20:33] alin23 commented on #19
I re-uploaded it here: https://send.firefox.com/download/5bb98c70811756ec/#W3IRhBCHLZeD38aMAizq-g

[2019-04-08 20:37] simPod commented on #19
got it, will send log tmrw

[2019-04-08 20:37] alin23 commented on #19
Thanks! ^_^

[2019-04-09 08:36] simPod commented on #19
[swiftybeaver.log](https://github.com/alin23/Lunar/files/3057911/swiftybeaver.log)

There we go

[2019-04-09 09:20] alin23 commented on #19
Thanks for the log! It seems that your display index in the IO registry is 10 but your system only has 6 framebuffers. Can you send me the IO Registry dump I told you about earlier? It would help me visualize your device tree and see why the unit number is so high.

I re-uploaded the Xcode tools here: https://send.firefox.com/download/ca79a086d029a900/#uX_BoYOsf6GaZRB5BTdjOg
And the steps are:
1.

[2019-04-09 11:42] simPod commented on #19
Here it is https://send.firefox.com/download/b26543a82ba2fc46/#zTW8NUkvqC96b7I5iVW-Bg

[2019-04-09 12:46] alin23 commented on #19
Yep, seems like the unit number strategy of finding displays doesn't work because `CGDisplayUnitNumber` is bullshit. I have to find another way to match display IDs to their EDID data.

Thank you for everything! Your setup seems to contain all the edge cases I need to account for to make Lunar completely functional. I'll try to get you another version of Lunar that would (hopefully) work this time

[2019-04-09 12:48] simPod commented on #19
:D glad to help, looking forward!

[2019-04-12 14:45] alin23 commented on #19
@simPod Here is another version that I hope will work with multiple displays: https://send.firefox.com/download/89fbdfadb963415c/#MZwRgXoTXARcKt4m2WwvTQ

Please try it and also send me the log when you can ^_^

[2019-04-12 16:48] simPod commented on #19
@alin23 Hi, I tried on my one screen setup and it doesn't controll brightness nor contract. Will try with more screens on monday.

[swiftybeaver.log](https://github.com/alin23/Lunar/files/3074288/swiftybeaver.log)

[2019-04-12 22:17] alin23 commented on #19
Thanks for the log! I don't see any problem this time, the display is found and the DDC requests seem to go through. Unfortunately I'll be away from a monitor for a few weeks so I can't try the changes myself, but I'll try to see if I did something wrong in the new Swift implementation.

[2019-04-17 16:33] ivanhtp opened #23 "Feature request: Override Apple brightness keys"
Hi there!

First things first, congratulations on the app. It's amazing and works really well with my monitor.

I currently have a mac mini with an external (LG Ultra HD) monitor. I only use this monitor and since it's not an official one from apple, my brightness keys (f1, f2) have no function at all. I'm using the Lunar shortcuts (ctrl+f1, ctrl+f2) but it would be awesome if I could override the

[2019-04-18 16:51] alin23 commented on #23
Hey, thanks for the message!

I couldn't find a way to override the Mac function keys, I think this is restricted by the system. There is [Karabiner Elements](https://pqrs.org/osx/karabiner/document.html) that can do that but it uses a kernel extension to achieve that. I find that too intrusive to include in Lunar (also I have no idea how to write kernel extensions and I would have to allocate a l

[2019-04-18 17:09] ivanhtp commented on #23
I'll give it a try!
I tried https://github.com/the0neyouseek/MonitorControl, it seems to handle the key override well but the implementation itself is a little bit sluggish.

Thanks!

[2019-04-18 17:19] alin23 commented on #23
Huh, it also has volume control. Thanks for letting me know about MonitorControl, I'll try to steal a few things from there.

[2019-04-20 12:50] dougc84 opened #24 "2.4.0 Broken?"
I downloaded the 2.4.0 release and... well... the UI updates nicely, but the monitor doesn't change.  Reverted back to the last version and it's back to working as normal.

Let me know if there's anything you need from me on this.

[2019-04-20 20:14] landoncope commented on #24
It's broken for me also.

[2019-04-20 20:21] landoncope opened #25 "Doesn't start at login"
I'm running macOS Majave 10.14.4, and Lunar never starts at login, even with the "Start at Login" option checked. I've tried unchecking/checking it, no change.

What other information can I provide that would be helpful?

[2019-04-21 09:51] alin23 commented on #24
Yes, it seems like it doesn't work on all types of connectors anymore. I'm working on it. Thanks for the feedback!

[2019-04-22 10:32] alin23 commented on #25
Please try the latest update (2.5.0) and let me know if the issue persists.

[2019-04-22 10:33] alin23 commented on #24
I reverted some changes that might have caused this. Please try 2.5.0 and let me know if everything's ok now.

[2019-04-22 10:35] alin23 commented on #22
@mvaneijgen this should be fixed in 2.5.0

[2019-04-22 10:36] alin23 commented on #19
@simPod Please try the latest update 2.5.0 and check if everything works now.

[2019-04-22 11:31] CedFlanders commented on #23
I was going to ask about the same feature, after finding this thread I guess there's no need to start a new one :). I'm currently also using monitorcontrol on a Mac mini. But like you say it doesn't work as well as Lunar App.
Lunar App is already amazing and it would be even more perfect if I could use the default keys (and see the on screen overlay) like in monitorcontrol.

[2019-04-22 11:48] dougc84 commented on #24
Works for me!  Thanks @alin23 !

[2019-04-22 13:18] alin23 commented on #24
Awesome!

[2019-04-22 13:18] #24 closed

[2019-04-22 13:20] alin23 commented on #23
I'll try to find some time for this, I didn't know it would be such a wanted feature 😅

[2019-04-22 13:52] simPod commented on #19
@alin23 Hi, just tried. I have only one display available now but the app doesn't control brightness nor contrast there 🤔

[2019-04-22 15:26] alin23 commented on #19
I don't get how this can happen. How is that display connected to your Macbook?

[2019-04-22 15:27] alin23 commented on #19
You can try sending me the Lunar log by clicking on the menu bar icon then click on **Open Lunar Diagnostics**
If that fails (because it relies on an external service), just send me the same log you have sent me the other times.

[2019-04-22 17:49] simPod commented on #19
It's via HDMI, that is connected to HyperDrive USB-C hub. Sending you logs via email.

[2019-04-22 17:50] simPod commented on #19
But the version from the time of [this comment](https://github.com/alin23/Lunar/issues/19#issue-426647296) was able to control both. However, I understand the logic is now rewritten.

[2019-04-23 08:51] simPod commented on #19
That's interesting. On my 3-screen setup it seems to work 🤔

[2019-04-23 10:39] alin23 commented on #19
So now Lunar can control all your 3 monitors? For the one screen setup that doesn't work, please also send me an IORegistryExplorer dump, maybe the hub introduces another edge case that I didn't account for.

[2019-04-23 22:26] simPod commented on #19
There you go https://send.firefox.com/download/0ac9be872e8735c7/#oSeNKlh48APaBhrZWgNG4g

[2019-05-03 08:09] #22 closed

[2019-05-03 08:09] #16 closed

[2019-05-24 14:03] Mic238 opened #26 "Issue with keyboard shortcut"
Hi there,

I feel like the step of +-3 when controlling with keyboard shortcut is just too small, I wonder if it can be increased or even customised. Also the app doesn't seem to be recognise long press and only count as one adjustment on long press.

In comparison, the apple native control (both display and volume) divides 0-100 into 16 levels, each change would be +-6.67, and long press is recog

[2019-05-24 14:09] Mic238 commented on #23
I achieve this by mapping the original brightness control to f16/f17 with karabinder and update the keyboard shortcut according, which is just perfect except for no long press recognition (which I've opened an new issue for) or popup like the volume control. I think it's good enough as a long term  solution but obviously a native built in would be more appreciated

[2019-05-24 15:25] alin23 commented on #23
Thanks for sharing the workaround! Yes, I plan to implement this in Lunar as soon as possible.

[2019-05-24 15:28] alin23 commented on #26
I think I can make the step customizable in the next version, it's a good idea.

I didn't know about the long press thing. Continuous pressing the keys should repeat the shortcut based on the key repeat system setting:
![image](https://user-images.githubusercontent.com/3819725/58339164-a6f47480-7e51-11e9-85ae-b48f9d9300e7.png)

I'll try to see what's wrong with that.

[2019-05-25 01:16] Mic238 commented on #26
I don't think key repeat auto applies to function keys - saying long press play/pause and making music start and stop just doesn't make sense, so it need to be recognised by code

[2019-05-25 07:11] alin23 commented on #26
Yes, I found that the issue is in the CGEvent listening implementation of the library I'm using [Magnet](https://github.com/Clipy/Magnet).

I think I'll better leave this as is, and implement the brightness/contrast up/down hotkeys using a different approach that also supports brightness keys.

[2019-05-30 12:41] jalendport commented on #23
Ooo thanks for the workaround @Mic238... that should work perfectly for my needs. I can setup the remap (F1/F2 => F16/F17) for only my external keyboard, so I'm not breaking the default brightness controls if I'm working on my Macbook itself. I'm also using what would be the keyboard brightness controls on an internal Mac keyboard to adjust the contrast (F5/F6 => F18/F19).

It would be nice if the

[2019-05-30 16:41] chasegiunta commented on #19
Admittedly I haven't read through this entire thread, but I'll echo that my external display is connected via HDMI through an external USB-C hub and Lunar seems to have no effect.

[2019-05-30 16:44] alin23 commented on #19
Unfortunately, most hubs don't correctly implement the DDC protocol. I can't do anything to make Lunar work with hubs.

[2019-05-30 19:30] simPod commented on #19
Fair enough, can mention in readme or sth 🤔

[2019-05-30 19:33] alin23 commented on #19
I thought this would discourage people to try Lunar at all, so instead I'm now compiling a list of monitors and hubs that work to put it on the website and here on Github.

It just.. you know.. takes time

[2019-05-30 20:22] chasegiunta commented on #19
@alin23 I'd disagree that a caveat mention would discourage people from trying.

This may be outside the scope you're willing support, but if there are monitors & hubs that aren't supported, maybe Lunar could fallback to doing software dimming, similar to how Shades or some others implement dimming...?

The attractiveness is Lunar, IMO, isn't necessarily the adjusting monitor brightness/contrast n

[2019-05-30 20:32] alin23 commented on #19
Ok, I guess I could add a simple caveat about the hubs.

About the software dimming part, that's actually harder than the hardware logic because I have to manually compute gamma tables instead of letting the OS do that for me, so I'd rather not do that. I really don't have that kind of time.
_(Plus, f.lux already does a darn awesome job on that side)_

Thanks for the kind words! Most of the Lunar

[2019-06-03 21:56] HenryQW commented on #19
I think I'm having the contrast issue too.

![IMG_5961](https://user-images.githubusercontent.com/5896343/58836934-0886c100-8652-11e9-964e-1ca1d445c239.jpg)

[2019-06-04 13:14] alin23 commented on #19
@HenryQW that looks more like night shift being applied on the left monitor. I don't think contrast can shift the reds so much. Can you double check the contrast values on the monitors using the monitor physical controls/buttons and see if they match the values in Lunar?

[2019-06-05 19:37] HenryQW commented on #19
@alin23 Thanks for the reply.

I rebooted my mac and it seems to be fine for location mode now. However, when adapting from the built-in display, the contrast surges to 96% on both monitors (yes, values match with Lunar), but U2417H is too bright to be readable. This appears to be the monitor issue, I always feel the newer model is somewhat crap...

[2019-06-05 21:39] alin23 commented on #19
@HenryQW you can adjust the limits for contrast to keep the contrast within the values that fit your monitors. For example my LG monitor looks best at max 75 contrast, anything over that and everything looks washed out and too white. So I adjust the max contrast to 75 and the display sync mode will compute the contrast so that it will always fall between 0 and 75.

Example:
![image](https://user-i

[2019-06-05 23:17] HenryQW commented on #19
Thanks for the tip @alin23, that definitely solved my problem.

[2019-06-06 12:23] sdudley opened #27 "Crashing with SIGSEGV"
Hi,

Thanks for this great app! I recently installed Lunar 2.6.0. It usually works well for a while, but I noticed that the process seems to occasionally quit itself without warning. This has happened about 1x/day since installation. The system log shows this:

[code]

The crash reports all look like this:

[code]

I was not using the computer at the time. The computer was not sleeping, although t

[2019-06-07 13:22] alin23 commented on #27
Thanks for the report! Yes, I think I know why this happens. It seems that there are cases where the OS can't create an UUID for the monitor, and I didn't account for that. I have an idea about how to fix this but I'll only get a chance to test the fix in about 5 days as I'm away from my monitor right now. I hope it doesn't get too annoying until then 😅

[2019-06-07 13:24] sdudley commented on #27
Thanks! If you need people to test too, just let me know and I'll be happy to help.

[2019-06-11 13:01] masonmark commented on #19
Sorry to add off-topic noise, but I just wanted to point out that this is one of the best user<->developer bug threads I have ever seen. Bravo to you both!! 👏🏻😅

[2019-06-12 19:23] alin23 commented on #27
@sdudley this should be fixed now. Feel free to reopen if you still encounter the issue.

[2019-06-12 19:30] alin23 commented on #19
Lunar works with multiple displays now so I'll close this issue. I've also added the caveats in the Readme, I'll add them on the website too in the following days.

@simPod thanks a lot, I couldn't have finished this without your help 🙏

[2019-06-12 19:30] #19 closed

[2019-06-12 19:32] #13 closed

[2019-06-13 00:52] sdudley commented on #27
@alin23--thanks for the patch! Sadly, I've had no luck with this issue on 2.8.0 either. The timing of crashes seems loosely correlated with putting the computer and/or display to sleep, or waking up from sleep.

I'm not sure if I have enough access to reopen this issue though?

[code]

[2019-06-13 12:59] alin23 commented on #27
@sdudley can you try replicating the issue with 2.8.1 ?

[2019-06-13 13:02] sdudley commented on #27
Thanks for the speedy turnaround. It's now installed and I will let you know how it goes.

[2019-06-14 03:55] landoncope opened #28 "Instant crash"
Just updated the app a day or two ago. When I have both external monitors plugged in, it crashes instantly. If I unplug the Dell U2412M, it doesn't crash. It's probably that unassigned UUID issue. How can I send a crash report?

[2019-06-14 07:26] alin23 commented on #28
I'm releasing a fix for that right now. Thanks for reporting!

[2019-06-14 07:37] alin23 commented on #28
@landoncope can you please try this version to check if the issue is solved: https://send.firefox.com/download/ea953962762c242b/#bf8KJZyLvaXg0qbwonkmLw

[2019-06-16 21:35] landoncope commented on #28
Thank you, 2.8.2 resolved the crash.

[2019-06-17 10:31] #28 closed

[2019-06-18 16:07] sdudley commented on #27
I've been running 2.8.1 since last Thursday and I haven't seen any recurrences of the crash. I think it's good to close out! Thank you again for the fix.

[2019-06-18 16:19] alin23 commented on #27
I'm glad to hear that! You should update to 2.8.3 as I also found other issues linked to that and fixed them in that version. Not everyone would experience them, but an update won't hurt. Thanks for helping me fix this!

[2019-06-18 16:19] #27 closed

[2019-06-24 00:52] hmijail opened #29 "Unreachable links in help texts"
The informative/help text that appears on hover over the small *i*s (like the ones by the offset controls) show a link. That link is physically unreachable because when one moves the mouse cursor from the *i*, the whole text goes away.
And if the goal is to make it a skill game, it's too hard! ;)

[2019-06-24 11:07] alin23 commented on #29
Oh yeah, I forgot about that 🤦‍♂️

Thanks for letting me know, I'll fix it this week. Until then, you can click on the link here:

[How does the curve factor affect brightness?](https://www.desmos.com/calculator/zciiqhtnov)

[2019-07-04 01:44] flybayer opened #30 "Not working with LG Ultrafine 5k"
Hello, I was super excited to find Lunar as I want my LG Ultrafine 5K to auto sync with my macbook pro based on ambient light.

## Problem

In any mode (Manual, Sync, etc), my LG Ultrafine 5K briefly flickers to the brightness set by Lunar but immediately reverts to the brightness as set by macOS.

I'm not sure if there's something on my end? Any suggestions on debugging this? Thanks!

[2019-07-04 06:06] alin23 commented on #30
Is the monitor connected by direct USB-C connection? I have an LG 4k connected like that and it works perfectly so your monitor should also work.

The Ultrafine has an integrated ambient light sensor, maybe macOS is already using it to auto adjust brightness. Check in Display settings in macOS to make sure any functionality like that is disabled.

If you have the LG software installed on your Mac,

[2019-07-04 15:04] flybayer commented on #30
Thanks! It appears a mac reboot fixed issue I was having.

In the process, I also discovered Luner + F.lux create a similar issue but the display reset is 10-20 seconds instead of <1s.

[2019-07-05 08:42] alin23 commented on #30
From my understanding, flux changes the gamma tables and color values through the system GPU SDK. Lunar doesn't touch that so they shouldn't interfere in any way. Maybe flux started using DDC too, I don't know as I haven't used it since night shift has been introduced in macOS

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-22 13:43] sdudley opened #31 "Crash with SIGILL"
I see that Lunar crashed once (so far) with the following exception:

[code]

[2019-07-23 08:23] alin23 commented on #31
Thanks for the report! I'm experiencing this too sometimes but it's a hard to debug issue. I'll try to fix it as soon as possible.

[2019-07-29 13:19] wojteksbt commented on #19
Hi, I have the latest version and unfortunately the same problem. I have two DELL U2410 monitors and Lunar has impact on only one of them (probably the one which was connected first).

[2019-07-29 14:44] alin23 commented on #19
Hi @wojteksbt

Are the monitors connected directly to the macbook USB-C ports? Or are they connected through a hub/dock/adapter? Also can you please send me some logs through the *Open Lunar diagnostics* option?
<img width="303" alt="Screenshot 2019-07-29 17 43 13" src="https://user-images.githubusercontent.com/3819725/62057523-7b628180-b228-11e9-816d-b224a6116100.png">

[2019-07-30 14:41] wojteksbt commented on #19
Monitors are connected directly but, as I have pre 2016 MBP, via mini DisplayPort to HDMI cables. Sure, I'm happy to provide you these logs, but I won't be able to do it before Saturday.

[2019-08-09 19:41] mvaneijgen opened #32 "Can't navigate between screens on a Wacom pen & touch tablet"
The left and right swipe works perfectly to move between screens on my build in track pad, but when I use this app I'm at my desk and use a Wacom tablet (which has pen and touch support). And swiping on that device nothing happens and because the dot at the bottom are not interactive (great idea to do make them interactive).

Also having just a right and left arrow would be really appreciated.

[2019-08-10 16:39] jans-y opened #33 "Feature request: Show Brightness/Contrast Level while pressing keys"
**Hi,**

**Thank you for a great software.**

I have switched to yours from _KAMIKAZEUA/NativeDisplayBrightness_ which I forked to include contrast controls, however it stopped working after update to 10.14.6.

The feature I miss is the some kind of current brightness/contrast level UI. MonitorControl and NDB both use Apple-like UI which is not necessary for me to look the same.

I also like on ND

[2019-08-11 18:20] alin23 commented on #33
The problem is that reading the brightness and contrast through DDC doesn't work. I can do something to show the last brightness sent by Lunar but I have no way to show the actual brightness of the monitor

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-11 18:22] alin23 commented on #32
You can navigate by using the left and right arrows on the keyboard

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-11 18:57] jans-y commented on #33
Hi,

I think it is perfectly okay to show last Lunar’s values.

I am aware that it could be incorrect in some edge cases so this could be optional.

Thanks

[2019-08-15 11:13] wojteksbt commented on #19
@alin23 sorry for late response, but logs from configuration are under this link: https://transfer.sh/11lQgk/lunar.log. Thanks

[2019-08-31 02:31] lukerooneyio commented on #25
I'm having the same issue on the latest update 2.8.3, it does not start at login.

[2019-08-31 09:29] alin23 commented on #25
@lukerooneyio looking into it

[2019-09-02 18:44] kerberjg opened #34 "Settings don't work (brightness/contrast min/max/locked)"
I'm using Lunar 2.8.3 on macOS 10.14.5 (iMac Pro)

When trying to change the brightness and/or contrast min/max values (or constant locked) either in Location or Manual mode, I see the numbers change in preferences, but they're not applied to monitors. Whenever I close the Preference window and open it again, the values are always reset to: 0, 100, unlocked.

The adaptive location mode does work (

[2019-09-02 18:52] alin23 commented on #34
Try to run Lunar diagnostics from the menu bar icon and send me the log. Sounds like there's a problem with the db file not being saved (maybe some wrong permissions, I can't be sure).

[2019-09-02 19:05] kerberjg commented on #34
There you go: https://transfer.sh/GNsG1/lunar.log

Also screenshots for reference:

Before closing:
![Screenshot 2019-09-02 at 21 04 55](https://user-images.githubusercontent.com/16939117/64130870-5e8c1180-cdc5-11e9-9527-944d752151d0.png)

After closing and reopening:
![Screenshot 2019-09-02 at 21 05 10](https://user-images.githubusercontent.com/16939117/64130871-6055d500-cdc5-11e9-868a-3d303a5e2b

[2019-09-02 19:08] kerberjg commented on #34
PS: Location Services are enabled for Lunar in System Preferences

[2019-09-02 19:16] alin23 commented on #34
There's no error about the settings in the log. I also get this problem from time to time but I never found what causes it.

Can you try to exit Lunar from the menu bar and relaunch it?

I'm out of ideas for now, I have to find a better way to debug these things.

[2019-09-04 11:55] 1player commented on #34
Same here, with an LG 27UD69P. The locked setting seems to work, but setting min and max values has no effect whatsoever.

[2019-09-04 18:09] kerberjg commented on #34
@alin23 I already have before sending the logs, as well as reinstalling everything (after having deleted all configs and logs from ~/Library)

Another thing I notice is that most settings from the leftmost pane aren't saved either, like Noon duration, Daylight extension and Curve factor.

Exceptions and "Smooth transitions" are always saved correctly, though I'm unsure about Location.

When I set

[2019-09-04 18:43] alin23 commented on #34
I have a possible fix in the working. I'll try to release an update in the next few days. I just have to test it more on my setup to make sure I don't screw up something else in the process

[2019-09-08 01:06] tayabsoomro opened #35 "Lunar on Dell monitor connected through VGA"
Lunar doesnt recognize my external monitor connected through VGA to Thunderbolt converter on my Dell monitor on my MacBook Pro.

[2019-09-09 07:57] alin23 commented on #35
That is most probably the cause of the converter. A lot of these converters/adapters/hubs don't handle the DDC protocol correctly so Lunar is unusable with them.

[2019-09-09 07:57] #35 closed

[2019-09-09 09:13] matej commented on #30
My apologies for hijacking this closed ticket, but I believe there are still issues with the LG Ultrafine 5k. At least with mine.

The "Sync" option doesn't seem to be functioning reliably for my case. It kicks in and syncs the brightens but then soon after it gets overridden back to the initial value. The behavior can differ a bit. Sometimes it gets into a state where it constantly flickers. Some

[2019-09-09 10:39] alin23 commented on #30
The LG 5K has an integrated ambient light sensor which is used internally (by macOS or monitor firmware, not sure which) to adjust the brightness. So if you want to use Lunar instead of that, you have to find a way to disable the internal adaptive brightness option. I don't know how to do that because I don't have that monitor.

But I'm sure that it's not a problem with Lunar. I never write code t

[2019-09-09 10:43] alin23 commented on #30
@matej this is what the LG UltraFine manual says on page 25:

support the display ALS(Ambient Light Sensor).
• You can also adjust the monitor brightness by controlling the menu or hot key of a
host manually

[LG UltraFine 5K manual](https://www.specsserver.com/CACHE/frfmbxeqrhrp.pdf)

[2019-09-09 10:48] matej commented on #30
No, apparently that's not used. At least I never noticed that the monitor would adjust its brightens, even when manually covering the sensor (on its own or via macOS). And that's basically also confirmed by reports I've been seeing online ([one example](https://discussions.apple.com/thread/250411765)).

But I understand the rest of your argument completely. I wanted to ask if a behavior like that

[2019-09-09 10:53] matej commented on #30
Oh, I just tried https://github.com/ocjvandijk/Brightness-Sync, from in the discussion I linked before. And that does seem to work. It's a bit choppy and doesn't update the UI in system preferences. But the LG does dim with the MacBook Pro screen.

[2019-09-09 11:49] alin23 commented on #30
I took a look at BrightnessSync's code and looks like something I could implement in Lunar. The thing is that the code uses a private framework, which isn't accepted by the App Store guidelines and I'd like to get Lunar on the App Store in the near future.

I'll probably make a non App Store version that will contain these workarounds so that you and other users can keep using Lunar. Thanks for le

[2019-09-09 11:57] matej commented on #30
Oh, that's great to hear. Thanks for looking into this!

[2019-09-12 16:17] ErinPo opened #36 "Forgot to sign the binary?"
It looks like the current release's DMG was not signed with an Apple developer ID.

[2019-09-15 04:02] nicoelayda commented on #25
Experiencing this issue as well. Lunar 2.8.3 on macOS Mojave 10.14.6 (18G95).

Temporary workaround for now is to manually add Lunar to System Preferences > Users & Groups > Login Items.

[2019-09-16 10:41] alin23 commented on #36
The current version is signed with a free developer certificate.
This is what `codesign` says:

        ~/Downloads/Lunar-2.8.3.dmg: valid on disk
        ~/Downloads/Lunar-2.8.3.dmg: satisfies its Designated Requirement

I'm in the process of releasing a new version signed with a paid Apple developer certificate, hopefully notarised and published on the App store also.

[2019-09-16 10:43] alin23 commented on #25
Thanks for reporting! I'm having mixed results with a current fix, still not sure what the problem is. Hopefully I'll have a new version by the end of the week with a proper fix.

[2019-09-17 20:08] krupenja opened #37 "Brightness offset does not work"
1. Enable Sync mode.
2. Under configuration, change Brightness offset to some custom value (e.g. -50 or 50).
3. Close Lunar preferences,
4. Open preferences again.

The Brightness offset value is back to default (-9).

macOS 10.14.6, MacBook Pro 13" Mid-2014, Dell U2518D monitor.

[2019-09-18 11:22] alin23 commented on #37
Thanks for reporting! I'm aware of the settings not being saved issue. I'm still trying to find the cause, but it takes time because I'm also busy with finding a job.

[2019-09-28 01:15] jswilliams opened #38 "Entire system slows down and monitor disconnects?"
I'm not sure how to get any debug info on this since when I run the diagnostics the monitor ends up disconnecting and then it doesn't show that there's any diagnostics information available. Is there an area a flat file should be saved that I can access?

Basically what's happening is when I change the contrast/brightness manually or when it changes automatically in sync mode, the entire system st

[2019-09-28 06:13] alin23 commented on #38
Try to disable Smooth Transition on the Lunar settings page and see if that fixes your issue. Some monitors have slow DDC response times and Smooth Transition does a ton of DDC requests. Unfortunately I have no way of logging hardware timing issues like this so we can only try to solve this by trial and error

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-29 03:38] jswilliams commented on #38
Thanks, that's all it was, I should've read the help tooltip better before enabling it.

[2019-09-29 04:11] jswilliams commented on #38
Actually it's still happening, just not as often. My monitor must have an extremely slow DDC processing speed.

Maybe an option that adds a debounce time to the DDC requests could mask the issue and prevent the monitor from crashing (at the cost of making it even less smooth). I mainly work with C# and TypeScript but I could try taking a look at it if you have a lot on your plate right now.

[2019-09-29 09:22] alin23 commented on #38
Yes, sounds like a debounce would be the best idea for slow monitors. I'll work on that on Monday. Also if you'd like to learn some swift, feel free to send a rough PR, everything helps as I'm very busy with a new job at the moment.

Thanks for reporting all these details! I wouldn't have been able to fix this issue otherwise

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-29 09:28] alin23 commented on #38
Also thank you for the generous donation! Always brightens my day to see that people care enough about my work to spend a few dollars on it 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-09-30 03:36] darshanprakash commented on #38
I have always been searching for a solution to control external displays since the first time I ever connected my mac to an external display. Thanks a lot for developing this tool. I'm your fan!

[2019-10-02 10:34] gianlucatruda commented on #32
Arrows keys aren't working for me. Has anyone else experienced that issue?

[2019-10-09 11:09] ErinPo opened #39 "Why does Lunar ask for access to input monitoring on Catalina?"
MacOS has a new privacy access privilege named input monitoring which apparently allows apps to monitor keys pressed on the keyboard in other apps. I use a number of different accessibility tools and none ask for this privilege. I did not consent and could not identify any limitation in functionality.

What is it needed for in Lunar?

[2019-10-09 11:10] ErinPo commented on #36
Yeah, a notarized binary would be ideal for Catalina. Great to hear you are working on it.

[2019-10-09 15:45] alin23 commented on #39
Most probably the hotkeys library causes this. I haven't written any code for input monitoring, you can always check the source.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-11 04:58] DamiansDesign commented on #25
Also experiencing this. Lunar 2.8.3 on macOS Mojave 10.14.6 (18G103).

My system.log is flooded with messages like this:

[code]

I tried disabling 'Start at login', quitting Lunar and reopening, then re-enabling 'Start at login' and saw this in system.log:

[code]

Eagerly awaiting update.

Thanks for your efforts!

[2019-10-11 06:35] alin23 commented on #25
Thanks for the detailed report @DamiansDesign !

I had my Macbook in service, that's why this took so long. I'm fixing this by Monday.

[2019-10-18 16:05] alin23 commented on #25
I managed to fix this but I couldn't release a new version because I had troubles signing the app with the Apple developer ID. By the time I fixed this, my Macbook died again and I didn't get a chance to push the changes. Hopefully the changes were backed up by Time Machine. I'm getting a new Macbook next week and if everything is ok with the backup, I'll release the new version, signed and notari

[2019-10-19 00:34] DamiansDesign commented on #25
@alin23,

Thanks for the progress update, and sorry to hear about your Mackbook. I recently had to retire my trusty 17" Macbook Pro that served me well for +8 years. I hope your new MacBook will serve you for years to come.

Thanks for keeping us in the loop.

[2019-10-24 09:19] alin23 commented on #38
@jswilliams Try the new polling interval setting in Lunar 2.9.0 to fix this. I'll close the issue for now.

Feel free to reopen it if it doesn't fix your issue ^_^

@darshanprakash thank you for the kind words! I'm happy to hear you find Lunar so useful!

[2019-10-24 09:19] #38 closed

[2019-10-24 09:20] #37 closed

[2019-10-24 09:21] alin23 commented on #36
@ErinPo Lunar 2.9.0 is now properly signed and notarized ^_^

I'll close the issue for now, feel free to reopen it in case it is not solved yet.

[2019-10-24 09:21] #36 closed

[2019-10-24 09:22] alin23 commented on #34
@1player @kerberjg I released Lunar 2.9.0 with some fixes on the settings side. I hope this is fixed because I really don't know what else to try.

I'll close the issue for now, feel free to reopen it in case it is not solved yet.

[2019-10-24 09:29] #32 closed

[2019-10-24 09:31] alin23 commented on #31
@sdudley
I fixed some more issues related to the DDC C code that lead to this. I also disabled some aggressive Swift optimizations to avoid illegal instructions being generated.

I'll close the issue for now, feel free to reopen it in case it is not solved yet.

[2019-10-24 09:31] #31 closed

[2019-10-24 09:36] alin23 commented on #30
@matej @flybayer I planned to release the new version with the custom code for LG UltraFine monitors but I didn't have time to include that too.

I already started working on it, so it will be released in the near future. Sorry for the delay.

[2019-10-24 09:40] alin23 commented on #29
This should be fixed now :)

[2019-10-24 09:40] #29 closed

[2019-10-24 09:50] matej commented on #30
No worries. Been using Brightness-Sync in the meantime and it works pretty well. So no need to rush because of me.

[2019-10-31 06:22] wojteksbt commented on #19
Hi, I've just changed my machine to MBP 2019 and the same monitors connected via DisplayPort to USB-C cable work fine.

[2019-10-31 10:57] alin23 commented on #19
I'm glad to hear that ^_^ @wojteksbt

[2019-10-31 12:13] wojteksbt commented on #19
And by the way, this software looks and works really really nice now :)! Good job @alin23 !

[2019-11-09 19:47] lijunkang12 opened #40 "Feature request: put internal display to sleep with lid open"
Hi there!

First of all, thank you so much for writing this app. It works like a charm! And the UI is simple but elegant.

I have a little feature request, maybe not so relevant with your app but I think many people working with an external display would love to have it: the possibility to put internal display to sleep with lid open when connecting to an external display. This feature will be usef

[2019-11-11 10:37] alin23 commented on #40
Hi @lijunkang12 !

Thanks for the kind words!

The feature would be a good addition to Lunar, but unfortunately this is mostly controlled by hardware or kernel flags.

I'll write down some of the workarounds I've seen and tried and their drawbacks:
1. Setting the internal brightness to 0. This is the cleanest and easiest to implement in Lunar but has two big drawbacks:
    1. The GPU is still work

[2019-11-11 10:37] #40 closed

[2019-11-11 10:50] lijunkang12 commented on #40
I see. Thank you anyway for your kind reply!

[2019-11-19 14:06] ahydronous commented on #34
This issue still persists for me.

I'm on Catalina 10.15.1 (19B88), Lunar 2.9.0

[2019-11-20 10:32] ahydronous opened #41 "Settings (brightness/constrast/noon etc) don't stick"
I still experience the issue brought up at https://github.com/alin23/Lunar/issues/34.
Setting brightness and contrast manually and locking them makes them stick, but any setting except for 'smooth transitions' in location mode does not get saved.

There is also the additional problem that changing values only gets applied with the arrow keys. Scrolling lowers or raises the value number, but does n

[2019-11-20 10:35] ahydronous opened #42 "Suggestion: at first launch, set brightness and contrast to 50 instead of 100"
Setting both brightness and contrast to an eye-popping 100 at first launch almost completely whites out the screen on most monitors. It made me think Lunar was incompatible/bugged until I figured out what to change.
Setting them to a more conservative 50/50 leads to a much cleaner user experience, and hopefully some saved eyeballs if Lunar is installed at night!

[2019-11-20 11:10] ahydronous opened #43 "Using '←' and '→' doesn't work anymore"
Using either arrow keys to switch between setting tabs doesn't work anymore and gives the 'bong' error sound. This even persists through app restarts or OS reboots. The only way to access the settings page is undocking my Mac and swiping with the touchpad.

[2019-11-20 11:16] alin23 commented on #43
Sometimes it doesn't work at first launch. Close the window with Cmd+W (but don't quit Lunar) and open the Lunar window again from the menubar (or with Cmd+Option+Shift+L) and the arrow keys should work. I'll see why it doesn't work on first start

[2019-11-20 11:17] alin23 commented on #42
Yes, I'll change the defaults. Usually Lunar should start in Sync mode and the brightness would be exactly right because it would be taken from the built-in display. But there is a bug that starts Lunar in Manual mode by default

[2019-11-20 11:23] ahydronous commented on #43
Even after hiding the window with Cmd+W opening it through 'Preferences' still doesn't allow me to use the arrow keys. However, hiding and then opening it with Cmd+Option+Shift+L does allow me to use arrows keys :). Hopefully that helps in tracking it down!

[2019-11-20 11:27] alin23 commented on #43
Thanks for the details! It definitely helps

[2019-11-20 14:41] #42 closed

[2019-11-20 14:42] alin23 commented on #41
Thanks for the detailed feedback! I'll reopen #34 and close this to avoid duplication

[2019-11-20 14:42] #41 closed

[2019-11-22 13:02] krupenja commented on #25
@alin23 Lunar 2.9.0 does correctly start on login and works without issues. However, the system.log is still being spammed with the following every 10 seconds:

[code]

Any ideas?

[2019-11-22 14:39] alin23 commented on #25
@krupenja Do you have Lunar installed in `/Applications`

[2019-11-22 15:20] lijunkang12 opened #44 "App Exception button not responsive"
When I click on the plus button for App Exception, nothing happens. Any clue why?

[2019-11-22 16:34] krupenja commented on #25
thank you for the quick response!

yep, I have Lunar installed in `/Applications`

[2019-11-22 17:37] alin23 commented on #44
Yes, there's a missing permission. I'll release a fixed version next week

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-11-22 19:44] lijunkang12 commented on #44
Cool, many thanks!

[2019-11-23 00:21] DamiansDesign commented on #25
@krupenja what version of macOS are you running?

I'm running Mojave 10.14.6 with Lunar 2.9.0, and I'm not seeing any system.log spam for Lunar.

Not sure if this will help, but perhaps try the following:

Disable 'Start at Login' > Quit Lunar > Open Lunar > Enable 'Start at Login'.

[2019-11-23 01:01] DamiansDesign commented on #25
Scratch that!

I just rebooted (to install latest security update) and Lunar is not starting up automatically, and I'm getting system.log spam for Lunar.

[code]
Also seeing a lot of these in the main device log (not sure if related):

[code]
By manually opening Lunar, disabling 'Start at Login', quitting and re-opening Lunar the system.log spam stopped. The XPC error in main Device log continues

[2019-11-23 12:33] krupenja commented on #25
Some observations:

1. I am on  macOS 10.15.1 Catalina.
2. If I disable Start at Login, warnings in system.log stop.
3. With Start at Login enabled, Lunar successfully starts at login, but warnings are still there.
4. I am not getting the `XPC error encountered` mentioned by @DamiansDesign so this is likely unrelated.

[2019-11-23 13:53] krupenja commented on #25
I think I have found a workaround:

1. Disable Start at Login from Lunar icon in the menu bar.
2. Open macOS System Preferences.
3. Go to Users & Groups -> Current User -> login Items.
4. Remove Lunar from the list.
5. Re-add Lunar back to the list.
6. Reboot.

This way I Lunar starts on log in *and* system.log does not get spammed with warnings (and does not balloon to over 1GB rather easily). Wo

[2019-11-25 12:00] alin23 commented on #25
@krupenja @DamiansDesign It is possible that Login Items still contains the old Lunar login item that didn't work and that's causing the errors. That might explain why your workaround fixed that. Unfortunately I can't force remove that old login item from code.

[2019-11-27 20:40] lijunkang12 opened #45 "Issues with certain Samsung monitors"
I have been trying to use Lunar with several different models of Samsung monitors. Lunar does not work properly for some of them.

It works perfectly when connected to U32R590C with DisplayPort 1.2.

However, when connected to U28H750 with DisplayPort 1.2, contrast cannot be adjusted.

And when connected to U28E590D or to C24F390 with HDMI 2.0, neither brightness nor contrast can be adjusted.

[2019-11-28 14:07] lijunkang12 commented on #45
Today I have experimented and found out that it is possible to adjust brightness (but not contrast) when connected to U28E590D with DisplayPort 1.2. So I wonder maybe Lunar does not work with HDMI connection?

[2019-11-29 11:43] alin23 commented on #45
This is a problem with either the connection cable or the monitor firmware handling the DDC messages.

Lunar is simply sending standard DDC messages for `brightness write` and `contrast write`. It's up to the monitor to interpret that and adjust the values accordingly. There's no custom logic based on the monitor brand or type of connection.

In my experience, most of the time the problem is in th

[2019-11-29 11:45] lijunkang12 commented on #45
I see. Thanks for your reply!

[2019-11-29 11:45] #45 closed

[2019-11-29 16:03] alin23 commented on #30
@flybayer @matej can one of you help me test a version of Lunar with support for UltraFine monitors?

You can download it here: https://send.firefox.com/download/d503a7ce1d083d76/#HFsMplUq_ch2JAR-KCb7Yw

[2019-11-29 22:03] alin23 opened #46 "Lunar Diagnostics Report [asd](https://transfer.sh/qDL97/lunar.log.enc)"
# Diagnostics
[Lunar Log](paste the URL received from Lunar diagnostics here)

# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *write response here*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C,

[2019-12-01 18:24] sentry-io[bot] opened #47 "EXC_BAD_INSTRUCTION: Fatal error"
Sentry Issue: [LUNAR-2](https://sentry.io/organizations/alin-panaitiu/issues/1345796960/?referrer=github_integration)

[code]

[2019-12-01 19:24] lijunkang12 opened #48 "2.9.1 version totally freezes"
I have updated to 2.9.1 released ten minutes ago. However, if I open Lunar when I connect my mac to an external display, or if I connect my mac to an external display when Lunar is already opened, the mac totally freezes. Neither the trackpad nor the keyboard is responsive anymore and I have to force reboot the mac.

[2019-12-01 19:24] #47 closed

[2019-12-01 19:26] alin23 commented on #44
This should be fixed on 2.9.1

[2019-12-01 19:26] #44 closed

[2019-12-01 19:28] alin23 commented on #43
This should be fixed on 2.9.1

[2019-12-01 19:28] #43 closed

[2019-12-01 19:29] alin23 commented on #39
This should be fixed on 2.9.1. I had to patch the Magnet library for this. Turns out it was listening for modifier keys so that it could map hotkeys like _double tap Command_

[2019-12-01 19:29] #39 closed

[2019-12-01 19:31] alin23 commented on #34
This should be fixed on 2.9.1. It was a read file permission setting that was missing

[2019-12-01 19:31] #34 closed

[2019-12-01 19:59] alin23 commented on #48
@lijunkang12 can you help me diagnose the problem? I'm building a version with a possible fix to this right now. Meanwhile can you answer these questions?

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write respon

[2019-12-01 20:02] lijunkang12 commented on #48
Yes of course !

I use a Macbook Pro early 2015. It is connected to an external display using miniDP to DP without usb docking station or hub. Both location mode and manual mode freeze totally.

[2019-12-01 20:06] alin23 commented on #48
Thanks for the details! Please try this version and let me know if it still freezes and also if Sync mode works well.

https://transfer.sh/a6uAL/Lunar-2.9.2.dmg

[2019-12-01 20:10] lijunkang12 commented on #48
Unfortunately it still freezes.

[2019-12-01 20:17] alin23 commented on #48
Would you like to hop on a private temporary chat to continue this? https://shick.me/lunarfreeze

[2019-12-01 22:58] alin23 commented on #33
This has been implemented in 2.9.3

[2019-12-01 22:58] #33 closed

[2019-12-01 22:58] alin23 commented on #48
This is fixed in 2.9.3

[2019-12-01 22:58] #48 closed

[2019-12-01 22:59] alin23 commented on #30
Go straight to 2.9.3 if you're testing this to avoid a system freeze bug I introduced in 2.9.1

[2019-12-02 07:13] matej commented on #30
I gave it a try. The default brightness is off. The LG display noticeably dimmer then the MacBook display. And the transition is a bit choppy. Here's a video to illustrate. Video: [IMG_4216.mp4.zip](https://github.com/alin23/Lunar/files/3909846/IMG_4216.mp4.zip)

Brightness-Sync with the latest updates does a better job syncing up the actual brightens, even without any offset changes.

[2019-12-02 08:09] alin23 commented on #30
@matej do you have Smooth Transition turned on in Lunar preferences? Also can you write here the values you have for `Brightness offset` and `Contrast offset`?

The defaults may not be appropriate for UltraFine displays and I'll have to adjust them just for this type of monitors.

[2019-12-02 11:43] alin23 commented on #30
I'll close this issue as UltraFine support has been implemented.

@matej to get the best experience, adjust the Polling Interval to 1 second as UltraFine monitors have a fast response, and play with the min/max contrast and brightness/contrast offsets.

I have set Smooth Transition as enabled by default for UltraFine displays and adjusted the default values, but if you already started Lunar at lea

[2019-12-02 11:43] #30 closed

[2019-12-02 11:44] alin23 commented on #26
We'll track this in #23 from now on

[2019-12-02 11:44] #26 closed

[2019-12-02 11:47] matej commented on #30
Thanks for looking into this. I really appreciate it! I'll play around with it some more when I find some time.

[2019-12-02 12:47] bliep opened #49 "Request: disable showing the dropdown"
Somewhere along the development line a new feature in lunar shows a dropdown from the menubar every time a setting is manually changed (or hovering over the icon). Is there an option to disable showing this somewhat large dropdown? Tnx!

[2019-12-02 14:11] zhangfb opened #50 "Lunar Diagnostics Report [https://transfer.sh/KoCWZ/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *write response here*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB

[2019-12-02 14:13] alin23 commented on #50
@zhangfb please respond to the questions in the issue template so I can better understand what is the issue

[2019-12-02 14:44] alin23 commented on #49
Check for updates and install Lunar 2.9.5.

You'll find a new option for disabling that:
![image](https://user-images.githubusercontent.com/3819725/69968378-f3b4b880-1522-11ea-8820-37f76e153c0a.png)

[2019-12-02 14:44] #49 closed

[2019-12-02 14:55] alin23 commented on #50
I see the following issue in your log:
`WARNING AppDelegate.locationManager():604 - User has not authorized location services`

If you are using Location mode in Lunar you have to enable Location Services for the app in `System Preferences -> Security & Privacy`:
![image](https://user-images.githubusercontent.com/3819725/69969134-83a73200-1524-11ea-91b3-999ec8de9c3d.png)

[2019-12-02 14:55] #50 closed

[2019-12-02 17:46] bliep commented on #49
That was fast 👍

[2019-12-05 10:07] tbrek opened #51 "UI keep switching the view when changing brightness offset"
As per title and video below

https://vimeo.com/377508944

[2019-12-05 18:08] alin23 commented on #51
@tbrek does the brightness on the Thunderbolt Display change when you change the brightness offset?

[2019-12-06 09:55] ErinPo commented on #39
2.9.1 freezes my Mac as soon as I run it with forced shutdown the only solution. I reverted to the previous version.

[2019-12-06 12:37] alin23 commented on #39
@ErinPo  Install the latest version which is 2.9.9. That system freeze was fixed in 2.9.2 actually but it seems you have to check for updates manually

[2019-12-08 18:05] lgandecki opened #52 "Lunar Diagnostics Report [https://transfer.sh/jET2m/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
No, not on external monitors neither on the macbook display

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
Macbook pro 2019

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
HDMI-to-USB-C an

[2019-12-08 18:30] lgandecki commented on #52
I guess the question is, can I expect this to work with TVs? I have a sony 55" OLED + LG 43UD79-B, which supposedly is a monitor, but it's really a TV with a tuner.

[2019-12-08 19:04] alin23 commented on #52
Hi @lgandecki ! Thanks for the detailed report!

I have tested Lunar with 4 different TVs and none of them worked. It's not Lunar at fault here, TVs just don't care about DDC and there's nothing we can do in software about that.

So I would say that's the issue here. If `ddcctl` doesn't work then I'm sure there's no way to make Lunar work either.

[2019-12-08 19:04] #52 closed

[2019-12-10 09:08] alin23 commented on #51
I'll close this as I can't reproduce it anywhere.

[2019-12-10 09:08] #51 closed

[2019-12-10 11:01] ggrrll opened #53 "complete crash on mac OS Catalina"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    kind of...

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    macbook pro

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *DisplayPort*

- Using an USB Docking Station or Hub:

[2019-12-10 11:29] alin23 commented on #53
Can you install the latest version from https://
lunar.fyi and try that?
There was a particular version _2.9.1_ that had an issue and freezed the system for monitors that didn't support reading values from them.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-10 12:00] ggrrll commented on #53
that's what I did this morning ...

[2019-12-10 12:10] tbrek commented on #51
No it does not. It does not control my TD at all. BTW it's connected via USB-C adapter.

[2019-12-10 15:33] alin23 commented on #53
I also have macOS 10.15.1, so that's not the issue here. Either the monitor has an incompatibility or Lunar has a bug. Unfortunately it's impossible to diagnose this kind of issue because the crash log is lost if the system freezes or restarts.

One thing you could do to help me diagnose this issue is to run this utility in the terminal and send me the output: https://transfer.sh/14j1FF/EDIDReader

[2019-12-10 15:37] ggrrll commented on #53
in that link there is nothing apparently

ps: my monitor is DELL P2414H

[2019-12-10 15:39] alin23 commented on #51
Do you have any way to connect it directly to a port of the Macbook, without an adapter? Usually adapters don't work with Lunar.

You could also try this little app and see if it works: https://github.com/fnesveda/ExternalDisplayBrightness

If that works and Lunar doesn't then I could take a look at the Thunderbolt Display logic inside Lunar to see what's wrong.

Before everything, please install

[2019-12-10 15:40] alin23 commented on #53
Sorry, it expired: https://transfer.sh/pzmPu/EDIDReader

[2019-12-10 15:46] ggrrll commented on #53
dms file? https://fs-uae.net ?

[2019-12-10 15:50] alin23 commented on #53
It is a compiled binary that you have to run in the terminal:
1. Open Terminal.app
2. Go to the folder that has the file (probably Downloads) by running the following command: `cd ~/Downloads`
3. Run the file with the following command: `./EDIDReader`
4. Copy and paste the output of the command here

[2019-12-10 16:22] ggrrll commented on #53
( thanks, I  know the basics of  bash :))

still, it gives `command not found`

[2019-12-12 21:19] cmiller734 commented on #53
Hi guys, I've had the total crashing issue before too. It happens on my Mac when I checked "read display values" or something similar from the main menu. Before that, worked like a charm. It comes unchecked, did you check it?

[2019-12-12 21:46] cmiller734 opened #54 "Lunar Diagnostics Report"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
   What diagnostics process?

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 2018

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    HDMI to Thunderport hub to thunderports

[2019-12-13 11:13] alin23 commented on #54
You used the diagnostics report issue template, and this is automatically selected when you use Lunar Diagnostics from the Lunar menu, that's why there's a diagnostics related question. I should make another template for manual issues.

So Lunar reads its settings from `~/Library/Preferences/site.lunarapp.Lunar.plist` and the `defaults` command modifies that file, but if Lunar is running while you

[2019-12-13 11:13] #54 closed

[2019-12-13 11:14] alin23 commented on #53
@cmiller734 I responded to your issue, please check that 😄

[2019-12-16 15:53] cmiller734 commented on #54
Hi, I confirmed the refreshBrightness system preference was set to 0 and tried again. Still crashed. I uninstalled and re-installed completely - still crashed. So the two proposed solutions unfortunately didn't work :/

[2019-12-16 16:42] alin23 commented on #54
I'm sorry, I have no idea what could be the issue here. You could try to search for anything called `Lunar` inside `~/Library/` and delete that. There is no other place that Lunar looks for settings.

[2019-12-16 17:44] ahydronous opened #55 "Database/log of monitor brands and models with issues"
Would it be interesting to create a log of all monitors that have issues with reading brightness (or other issues) via DCC?

Just the idea of keeping this issue open and having people post their monitor brand and model for easy search, and perhaps even trying to debug/get working those monitor brands (by having people test builds with reduced polling rate or whatever). It would also make it easy t

[2019-12-16 18:10] alin23 commented on #55
It's a good idea but I'm afraid people are going to report monitors that should work, but don't work for them because of the way they connect the monitors to their device.

So I think the required fields should be:
1. Monitor brand and model (e.g. AOC Q2778VQE)
2. Host device (e.g. Macbook Pro 2019 15in)
3. Type of connection (e.g. _Thunderbolt 3_ or _HDMI to Thunderbolt 3_ or _DisplayPort to HDMI

[2019-12-16 22:23] cmiller734 commented on #54
I'll try deleting the plist and try again.

[2019-12-17 02:29] cmiller734 commented on #54
Hi!!

I wanted to let you know that I was able to get it going after deleting my preferences for Lunar (the plist file).

Perhaps suggest in the read through that if the first options fail (deleting and re-installing, or changing that flag via writing via the command line), you should delete the entire plist file and restart. Or suggest that after trying the writing via cmd, and before uninstallin

[2019-12-17 06:37] DamiansDesign opened #56 "Does the 'Read Monitor Brightness Periodically' setting belong in the drop-down menu?"
This is not so much an issue, more a suggestion.

Does the `Read Monitor Brightness Periodically` setting need to reside in the main drop-down menu where it is so easily enabled? Perhaps it should be in settings, so it's not so easy to enable.

I had a small issue this morning when waking my iMac where my external display brightness wasn't changing, even though it was working before I put the mach

[2019-12-17 09:57] alin23 commented on #56
# What the setting does
The setting activates a service that reads the brightness and contrast from the monitor periodically and also when Lunar starts or a monitor is connected.
This alleviates some issues other users have when the monitor brightness was changed from the hardware controls of the monitor:
1. Lunar shows the wrong brightness in the UI in Manual mode and in the Quick Actions popover

[2019-12-17 09:57] #56 closed

[2019-12-17 09:59] alin23 commented on #54
I'm glad you finally got it working again!
I added some more instructions about that here:
https://github.com/alin23/Lunar#troubleshooting

[2019-12-18 00:34] DamiansDesign opened #57 "Lunar not adjusting brightness after system wake"
iMac (27-inch, Late 2013)
macOS Mojave 10.14.6
NVIDIA GeForce GTX 775M 2 GB
Samsung S24E650 24-inch (1920 x 1200)
(Mini DisplayPort to DVI cable connected to Thunderbolt)

After system wake and entering password, my external display brightness wasn't changing automatically, or manually syncing when using brightness controls on keyboard. After running diagnostics, external display is now syncing an

[2019-12-18 00:50] DamiansDesign commented on #56
@alin23 thank you for the detailed (and quick) response.

Ah, OK so it's for reading the external display *not* the built-in display. That's where I was getting confused; thinking it was something with 'Polling' the built-in display.

It might be worthwhile (if possible) to change the wording to something like: "Read **External** Monitor Brightness Periodically".

I doubt ALL CAPS will help. Curio

[2019-12-18 09:52] alin23 commented on #57
I really have no idea what this could be. It never happened to me and I don't know what part of code could cause this behaviour.

And I don't know about the service error either. LunarService is just a helper app for Lunar that can be added as a LoginItem so that it can start Lunar at login. That only happens when I run Lunar from a folder that is not /Applications, because macOS restricts LoginIt

[2019-12-19 21:47] jahewson opened #58 "Lunar Diagnostics Report [https://transfer.sh/Nue1y/lunar.log.enc] [AC3BCF481335C0D95E2FB1BC4F1A689DDB31F4B5772F03F3D6D0ECF4FFF8CB3D] [2.9.11]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    yes

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro (13-inch, 2019, Four Thunderbolt 3 ports)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
   USB-C to DisplayPort cab

[2019-12-21 18:18] muneebabbas opened #59 "Lunar doesn't work properly with two monitors with the exact same model"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *Macbook Pro 2018 15 inch*

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    *Dell U2717D*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *USB-C-to-HDMI and HDMI-to-HDMI*

- Using an USB Docking Station or Hub:

[2019-12-21 18:49] alin23 commented on #59
I know about this bug. Unfortunately there's no way to work around it, the vendors are lazy and write the same exact data inside the monitor EDID structure so there's no way to distinguish them. I worked about 2-3 months to make this work at least in the most basic way but I couldn't find any solution to this.

[2019-12-22 22:00] timtraversy opened #60 "Feature: Command line utility"
### Name of the feature

Lunar command line utility

### What problem does this feature solve?

I would like a way to interact with Lunar programmatically, so I can update my monitor settings from the command line or from scripts. I think a command line util would be the most convenient way to do this.

I haven't been able to find many resources about interaction with Mac apps from the command lin

[2019-12-23 14:05] alin23 commented on #60
I think the best solution for this is to use ddcctl directly, which is what Lunar is based on: https://github.com/kfix/ddcctl

It can also control other things like volume, red/green/blue gain etc.

What do you think, would that suffice?

[2019-12-24 04:42] timtraversy commented on #60
Awesome, thanks for pointing me to that, I'm pretty sure that's all I need.

[2019-12-24 04:42] #60 closed

[2019-12-24 17:05] muneebabbas93 commented on #59
@alin23 https://github.com/the0neyouseek/MonitorControl
This particular utility works perfectly with the same setup, just came across it. Maybe some inspiration for a workaround can be taken from there. Thanks for the amazing application though and feel free to close this issue if this is a known bug and you don't plan on working on it!

[2019-12-24 17:10] alin23 commented on #59
@muneebabbas93 thanks for the suggestion! I'll take a look to see if I can steal something from MonitorControl.

[2020-01-02 19:08] Guidiom opened #61 "Lunar Diagnostics Report [https://transfer.sh/iYB9P/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *write response here*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB

[2020-01-02 22:39] alin23 commented on #61
@Guidiom please fill up the required info in the issue.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-04 01:11] DamiansDesign commented on #57
It's happening again. I've had this occur a couple times since I first opened this issue; it's really strange, I don't see why it would be so sporadic.

This is what I see in Console:

[code]

And then it just repeats.

Normally I can run the Lunar Diagnostics from the menu and immediately the display dimms, and normal operation is restored. However, sometimes it will also crash.

Here is the cras

[2020-01-04 05:04] souljazzfunk opened #62 "Lunar Diagnostics Report [https://transfer.sh/HmHO3/lunar.log]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro early 2013

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    mac - HDMI - DVI - monitor

- Using an USB Docking Stat

[2020-01-04 15:57] Meistache opened #63 "Lunar Diagnostics Report [https://transfer.sh/v8HRn/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    Yes it did.

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 13-inch Mid 2012, Core i5 2.5 GHz model (Intel 4000 Graphics)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):

[2020-01-04 21:00] ahydronous commented on #55
Sorry for the delay in answering, yes that seems great :). I've edited my initial comment to reflect the updated format

[2020-01-05 08:57] alin23 commented on #62
I suspect that the DVI connection might be the issue here. If you have the possibility, please try a different way to connect the monitor like direct HDMI or DisplayPort. If ddcctl doesn't work, then your monitor is not getting or responding to DDC messages and Lunar can't do anything.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-05 13:24] alin23 commented on #63
Hi @Meistache

Lunar is still using a classic LoginItem for starting at login, you can check the code in the LunarService directory.

The only way Lunar can cause a kernel panic is by trying to read the external monitor brightness with a misaligned DDC response delay. This is an option that was on by default in 2.9.2 and I made it off by default in all subsequent versions. You can toggle the optio

[2020-01-05 17:51] alin23 commented on #57
Thanks for the additional details and especially for the crash report! I'll do some more tests within that specific closure to try to find the culprit.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-07 05:13] lukerooneyio opened #64 "Lunar menu disappears."
# Issue details
- MacBook Pro 2017:
- Benq 4K Monitor
- Displayport through Thunderbolt 3 Dock:

Sometimes when I adjust the brightness of my monitor the lunar menu won't pop up. It's seems random, sometimes it works, sometimes it doesn't.

Also the Lunar menu bar icon has been missing. I use bartender, but it doesn't appear to be working correctly with Lunar's menu bar icon.

[2020-01-07 09:53] alin23 commented on #64
Thanks for reporting this!

There's nothing special that Lunar does with the menu bar icon, it's a standard icon like for every other app. I also use Bartender and it has always worked with Lunar so the issue must be elsewhere.

The menu tries to appear right under the menu bar icon, but if the icon is not visible in the menu bar (because Bartender hides it, or because you are in a fullscreen spac

[2020-01-07 09:53] #64 closed

[2020-01-08 01:35] Meistache commented on #63
Hi @alin23

Thanks for the support! I already had the latest version (2.9.10), so I thought it would be a further step into diagnosis to delete the `site.lunarapp.Lunar.plist`. Anyway I just reinstalled my app using homebrew so I can keep track of the updates as well.

I've done tests since them and I think it's working fine  under different startup/reboot circumstances just following the actual t

[2020-01-08 08:51] alin23 commented on #63
Ok, thanks for letting me know! I'm working on making DDC compatible with more displays and more types of GPUs, but it will take some time to find testers to fit all major cases.

[2020-01-08 08:51] #63 closed

[2020-01-08 13:54] souljazzfunk commented on #62
ok I'll try!  thanks for what you're doing!

[2020-01-08 14:11] #62 closed

[2020-01-22 04:01] DamiansDesign commented on #57
Hi @alin23, any luck with this? Unfortunately I'm still experiencing periods when Lunar doesn't adjust brightness after system wake. I've checked console logs, and I'm still seeing what I've already posted (above), so nothing new to report there.

Could it have anything to do with requiring a password after system sleep?

[2020-01-22 20:26] alin23 commented on #57
Hi @DamiansDesign

Sorry but the new job doesn't leave me with enough time for development on Lunar.

I'm sure requiring a password doesn't have anything to do with this as I have the same setup and I don't experience the issue.
It looks more like a lid closed detector or a GPU sleep issue. The code doesn't seem to have any obvious issue so it's more like something related to the hardware or syste

[2020-01-28 06:15] kevinschaich opened #65 "Not working with external GPU (eGPU)"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Mac Mini (2018)

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    Dell U3219Q

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Computer connected to Razer Core X w/ Radeon VII via USB-C to USB-C
    Radeon VII connec

[2020-01-28 09:25] alin23 commented on #65
Hi @kevinschaich ! Can you please try https://github.com/kfix/ddcctl and see if that works on the eGPU?
That is just a DDC implementation without the bells and whistles of Lunar, so it can help in diagnosing if the problem is Lunar or something related to how the eGPU handles DDC.

[2020-01-29 16:26] alonpr opened #66 "Lunar Diagnostics Report [https://transfer.sh/V8sqS/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    brightness - yes, contrast - no

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 2017

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C-to-USB-C

- Using an USB D

[2020-01-30 02:21] kevinschaich commented on #65
Also not working for me in DCC unfortunately. https://github.com/kfix/ddcctl/issues/60

[2020-01-30 09:53] alin23 commented on #65
Unfortunately, I can't do much about it. I'm no DDC expert and don't really have time to become one 😅
I'll leave the issue open for others to see, and feel free to update it if there is any progress on the ddcctl side. I would gladly implement any fix and/or accept any PR for this.

[2020-01-30 09:54] alin23 commented on #66
Hi @alonpr ! What monitor model are you using?

Is it some kind of LG Ultrafine?

[2020-01-30 15:43] alonpr commented on #66
Hi,
I wish 😂it's a Dell P2715Q

On Thu, Jan 30, 2020 at 4:54 AM Alin Panaitiu <notifications@github.com>
wrote:

[2020-01-30 17:47] alin23 commented on #66
That's weird. Dell P2715Q is a known compatible monitor. Maybe try to look through the monitor firmware settings (using the monitor buttons) and see if there is any contrast setting interfering with DDC. Usually there is a Dynamic Contrast setting, maybe try disabling that.

[2020-01-30 17:48] alin23 commented on #66
Uniformity Compensation is another setting that can interfere with contrast settings

[2020-01-30 18:27] alonpr commented on #66
Uniformity compensation is OFF.
DDC/CI is ON but I'd assume it's required that the software would be able
to control brightness/contrast of the monitor, isn't it?

On Thu, Jan 30, 2020 at 12:48 PM Alin Panaitiu <notifications@github.com>
wrote:

[2020-01-30 19:36] alin23 commented on #66
Yes DDC/CI needs to be on for Lunar to work. I'm sorry, if those settings don't affect Lunar then I don't know what could be the problem.

[2020-01-30 19:55] alonpr commented on #66
I apologize, I sent you a wrong monitor model, the P2715Q works flawlessly
actually. The one that has issues is *Dell U3818DW*

On Thu, Jan 30, 2020 at 2:36 PM Alin Panaitiu <notifications@github.com>
wrote:

[2020-01-30 20:16] alin23 commented on #66
Looks to have most of the same options in the firmware. So if disabling Dynamic Contrast doesn't help, then it's possible that it uses a different code for contrast settings.

You can try https://github.com/kfix/ddcctl as that has support for all kinds of DDC properties like volume, RGB gain etc.
Maybe you find that one of the properties works for contrast.

[2020-02-04 19:37] borekb commented on #25
"Start at Login" also doesn't have any effect in my case – after restart, I have to start Lunar manually.

- MacBook Pro mid-2015
- macOS Catalina 10.15.3
- Lunar was installed via `brew cask install lunar`

[2020-02-22 00:46] p4k4 opened #67 "Lunar Diagnostics Report [https://transfer.sh/2PU6j/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
Yes, within a small range.

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
Hackintosh

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
USB/TB2

- Using an USB Docking Station or Hub:
No

- L

[2020-02-22 04:17] p4k4 commented on #67
So basically from what I can see - The brightness values of Lunar fo not map correctly to my displays.

I have a desktop environment with two 27" thunderbolt cinema displays connected via DP and USB.

When I put a flashlight on the sensors, brightness will raise (showing higher than 100 in Lunar) then suddenly it'll "snap" the brightness value back down to what Lunar thinks is "100".

[2020-02-23 21:48] alin23 commented on #67
Hi @p4k4

Thanks for the report! From what I gather, the Cinema display supports setting brightness through Apple CoreDisplay framework and has a range of 0-255 instead of 0-100.

Can you please test this version of Lunar that adds special support for Cinema displays? https://transfer.sh/xtDsu/Lunar-2.9.11.dmg

While you're at it, can you also help me test some experimental features I had in the w

[2020-02-25 13:21] gngan1 opened #68 "Lunar Diagnostics Report [https://transfer.sh/gSLmR/lunar.log.enc]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No. I have one iMac Pro connecting to two identical external LG 32UL950. (1) only 1 LG display responses to brightness adjustment.

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
  iMac pro

- Monitor connection to the Mac device (HDMI-to-USB-C, U

[2020-02-25 13:43] alin23 commented on #68
Hi @gngan1 !

I see a lot of errors like this in the log:
[code]

Lunar sees both monitors and sends DDC messages to both of them but it seems that the connection between the iMac and the monitor can't pass the message to one of the monitors.

Unfortunately there's nothing that I can do in software to fix this. It is a hardware connection problem and to solve it you probably have to connect the mo

[2020-02-25 13:43] #68 closed

[2020-02-25 13:49] gngan1 commented on #68
Thanks for the reply.

This is fine. Having the ability to control one LG display by keyboard is still better to toggle the display’s joystick!

With best regards
George

[2020-02-25 14:08] alin23 commented on #68
@gngan1 since you have multiple monitors, would you like to help me beta test a Lunar version with support for changing volume, and displaying native OSD? I only have one monitor and can't test if it works.

You can find the beta version here: https://transfer.sh/13FEqN/Lunar-2.9.11.dmg

What I'd like to know:
1. Check if media keys work. You can check that by pressing brightness and volume keys w

[2020-02-25 14:15] gngan1 commented on #68
Hi

Thank you for the suggestion.

I’m working on my research quite intensively at the moment. Testing you nice software will likely require disconnecting one and two displays from the tb3 dock in turn and to connect them directly to the iMac and risk system freeze and reboot.

I’ll be more available a month from now and will definitely beta test ur app.

Best regards
George

[2020-02-25 14:31] alin23 commented on #23
Hi @jalendport @ivanhtp @Mic238  @CedFlanders !
Would you like to help me beta test a Lunar version with support for changing volume, media keys and displaying native OSD? I would especially like to know how it works on multiple external monitors.

You can find the beta version here: https://transfer.sh/fv5J1/Lunar-2.9.11.dmg

What I'd like to know:
1. Check if media keys work. You can check that

[2020-02-25 15:11] ivanhtp commented on #23
Sure! I'm on a travel right now but I'll try it as soon as I can.

Great feature.

[2020-02-26 00:53] Mic238 commented on #23
Alright I ran the beta and I think it's a great starting point with some fixings required.

Test Machine:
Mac mini 2014, Catalina 10.15.3, with single external monitor only Samsung SE24E390HL

Native Display with Media Key:
N/A, Mac mini doesn't have a built in display.

External Display with Media Key:
The enable and disable of "use media hotkey as shortcut" doesn't take effect until restart Luna

[2020-02-26 00:58] Mic238 commented on #23
Second Monitor with Sidebar/iPad:
The main monitor change brightness even when the cursor is on iPad, OSD shows on both screens. (Probably because iPad doesn't allow brightness change?)

[2020-02-26 16:26] alin23 commented on #23
Thanks @Mic238 for the detailed report! It seems I forgot to show the OSD on media keys press.
I fixed that and the volume change crash.

I can't do much about the iPad Sidecar. There's no API to change brightness/contrast/volume of a Sidecar device and DDC doesn't work without a cable. But the media keys should not change the main monitor brightness now if the cursor is on the iPad display.

Also

[2020-02-27 04:38] Mic238 commented on #23
Cannot download the fixed version, file not found

[2020-02-27 09:21] alin23 commented on #23
That's weird, I can still download it. Try this one on Firefox send: https://send.firefox.com/download/b212444c1299726a/#gP5BgbNg-7YysLGPv8oVvg

I agree, we can move on to 3.0 with this.

[2020-02-27 11:19] Mic238 commented on #23
No luck, the brightness only changes the main display with shortcut, no matter where the cursor is. And when I change on lunar window, it doesn't show no DDC support.
(I suppose DDC just got ignored for sidecar? Not a big deal though)

Volume Mute OSD is a little bit different from system one (volume bar is all grey on mute), and I can't unmute by pressing mute media key again (shortcut is fine),

[2020-02-27 19:31] alin23 commented on #23
Fixed version here: https://send.firefox.com/download/f1bd0610c31880b7/#To5o3AeQ0Ao4s4iE_s-tLw

That's expected. DDC is an I2C protocol, which only works by passing high frequency electrical pulses through wires. Sidecar uses Airplay which being wireless doesn't support DDC. If you try to change the brightness of the iPad through Lunar, after 20 failed DDC writes Lunar will show that **Non-respons

[2020-02-27 23:21] Mic238 commented on #23
Mostly Minor Problem now, I think it's nearly the time to move out of beta.

I can see this as expected that iPad doesn't take DDC, but the unexpected part was that the main display would change brightness when the cursor is on iPad. The OSD has a "not allowed" mark for volume and should be for brightness/contrast as well, maybe you can take use of this?

![image](https://user-images.githubusercon

[2020-02-28 11:18] alin23 commented on #23
Lunar 3.0 will be released in the following hours. Thanks a lot for all the help!

This is shown by the system, not by Lunar. I don't have access to the private API that's showing the not allowed mark. The only thing I can show is a locked icon:
<img width="204" alt="Screenshot 2020-02-28 at 11 28 50 (2)" src="https://user-images.githubusercontent.com/3819725/75541128-a8288280-5a1d-11ea-8af5-a3d16

[2020-02-28 11:18] #23 closed

[2020-02-28 12:00] lijunkang12 opened #69 "Listeners for media keys only work for Desktop"
First of all, thank you for this new release! I The feature that we can use media keys as hotkeys is wonderful.

However, I notice that this feature only works for Desktop. If the cursor is on any other full-screen apps (such as Finder, Safari, Chrome, Preview, etc), press keyboard brightness keys only change the brightness of the Mac.

[2020-02-28 12:22] alin23 commented on #69
Unfortunately this seems to be a system limitation. The system reports the display as built-in even when it isn't and the media keys are not overridden on the builtin display.

I'll close this as I can't do anything to fix it.

[2020-02-28 12:22] #69 closed

[2020-02-28 12:22] alin23 commented on #67
This should be fixed in 3.0.0. Feel free to reopen if the issue persists.

[2020-02-28 12:22] #67 closed

[2020-02-28 12:23] alin23 commented on #66
This doesn't seem to be an issue with Lunar so I'll close this as it isn't fixable.

[2020-02-28 12:23] #66 closed

[2020-02-28 12:24] #61 closed

[2020-02-28 12:25] alin23 commented on #59
I'll close this as I couldn't find a specific solution that MonitorControl implements and Lunar doesn't.

[2020-02-28 12:25] #59 closed

[2020-02-28 12:26] alin23 commented on #58
This should be fixed in 3.0.0. Feel free to reopen if the issue persists.

[2020-02-28 12:26] #58 closed

[2020-02-28 12:26] alin23 commented on #57
This should be fixed in 3.0.0. Feel free to reopen if the issue persists.

[2020-02-28 12:26] #57 closed

[2020-02-28 12:27] alin23 commented on #53
This should be fixed in 3.0.0. Feel free to reopen if the issue persists.

[2020-02-28 12:27] #53 closed

[2020-02-29 11:00] stygmate opened #70 "Clip min/max brightness of built-in display"
### Name of the feature

Hard clip min max brightness

### What problem does this feature solve?

external monitors that don't have the extended brightness range of internal macbook display can have 100% brightness when internal brightness is 80%

[2020-02-29 15:53] zierka opened #71 "Lunar Diagnostics Report [https://transfer.sh/sWeEn/lunar.log.enc] [ECCF69787BB76C2DC36DEE925CD79E379CD2D0854BCFAAE4C9F6DDC122B6A698] [3.0.0]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
Yes!

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
MacBook Pro 2017

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
Mac - USB-C Adapter - Displayport - Monitor

- Using an USB Docking Sta

[2020-02-29 16:31] grahamburgsma opened #72 "Ability to adjust brightness curve without affecting max brightness"
### Name of the feature

Ability to adjust brightness curve without affecting max brightness

### What problem does this feature solve?

I'd like the ability to change the brightness curve to better match the brightness of my Mac (In adaptive mode). However changing the brightness offset also changes the max brightness. For example, -50 brightness offset makes my monitor brightness curve best matc

[2020-02-29 21:20] cumanzor opened #73 "Monitor Volume OSD being triggered when external audio output connected."
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 2016 15".

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    LG 4K (27UD68-P)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C to DP.

- Using an USB Docking Station or Hub:
   No.

- Lunar mode used

[2020-03-01 09:16] fservant opened #74 "Suggestion: Volume hotkeys should affect the selected audio device, not the monitor on focus."
Hi,

Thank you for this awesome software! It gets better and better, particularly with the new functionality of changing volume and hotkeys.

Let me clarify this issue. For brightness, it makes sense for hotkeys to affect the monitor on focus. But for volume, it's a bit different. The device "on focus" is the audio device that is currently selected in MacOS as output.

When I am using an external

[2020-03-01 09:37] alin23 commented on #73
Yes I overlooked that. Thanks for letting me know!

I'll try to come up with a solution by tomorrow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-01 09:46] alin23 commented on #74
Thanks for the feedback! I indeed that's also how I wanted this to work but for the moment I couldn't find any way to link an audio device to a monitor.

The thing is Lunar is not using the system audio API to change the volume because that doesn't work on monitors. I'm changing the volume through DDC and that means that I have to change the volume of a specific monitor. There's no such thing as c

[2020-03-01 10:33] fservant commented on #74
Wow, thanks for such a quick response!

Have you considered using the system audio API to check if the external monitor is selected as the audio output device or not? If it is, then you can change the volume through DDC. If not, then you delegate the volume change to the system.

As a workaround, you could also have two separate options to hook media keys to Lunar, one for brightness and another f

[2020-03-01 13:00] alin23 commented on #74
I am actually using the system audio API to check if the current audio device can be controlled by the system and disable Lunar volume keys when that is valid.

But the API doesn't tell me if that device belongs to a specific monitor or even something else like a DAC. So if you have two monitors for example and you select one of them as audio output, I have no way to know which monitor you selecte

[2020-03-01 13:05] alin23 commented on #72
The brightness limits are only set by the MIN/MAX fields on the main page of Lunar (the ones on the left of the display icon). Brightness offset always operates within those limits and will never set a brightness higher/lower than those values.

Can you please post some screenshots with the min/max values and the configuration page of Lunar?

<sub>Sent with <a href="http://githawk.com">GitHawk</a>

[2020-03-01 13:09] alin23 commented on #71
It seems that your monitor fails to respond to some DDC messages from time to time and Lunar counts those and sees the monitor as non responsive when the fail count reaches 20. I think I'll have to reset the counter periodically to avoid this.

The minimum and maximum limits of brightness and contrast are configurable from the main page of Lunar if you use Sync or Location mode, or from the Config

[2020-03-01 13:40] alin23 commented on #70
Working on it 😊

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-01 23:53] grahamburgsma commented on #72
Min is 0, max is 100. However I reinstalled and restarted my computer and monitor, now it seems to be working as it should! I don't think I changed any settings, but oh well, it's working great now. Thanks for the support, closing this issue.

[2020-03-01 23:53] #72 closed

[2020-03-02 07:48] bluestarstudios opened #75 "3.0.0 doesn't launch on 10.13.6"
Thanks for an amazing app!

I do have a bug report: The latest version 3.0.0 fails to launch on MacOS 10.13.6. I tried both the DMG from the lunar.fyi website as well as from the releases here on GitHub. Both failed. I even tried going into **System Preferences –> Security & Privacy –> Privacy** and adding Lunar under Accessibility controls. No luck as that didn't help either.

Version 2.9.9 works

[2020-03-02 09:56] alin23 commented on #75
Hi David! Can you post the Lunar log found in ~/Library/Caches/Lunar?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-02 12:26] grahamburgsma commented on #72
@alin23 It's happening again, but I figured out the cause. The system brightness setting `Automatically adjust brightness` seems to affect the max brightness of the monitor. Even though the system brightness slider is at max. Not sure if that's fixable or a weird side effect of something Apple is doing.

![Screen Shot 2020-03-02 at 7 22 36 AM](https://user-images.githubusercontent.com/9092289/7567

[2020-03-02 14:05] unknowndomain opened #76 "3.0.0 breaks System Preference Shortcuts"
# Issue description:
The all versions of macOS 10 support pressing Option + Media Keys to launch the relivent system preference.

The update to 3.0.0 which introduces media key support has broken this operating system functionality for Volume and Brightness even though the Option modifier is ignored.

[2020-03-02 14:10] unknowndomain opened #77 "Coarse brightness and volume adjustment"
### Name of the feature

Fine and coarse adjustment of brightness and volume levels

### What problem does this feature solve?

Currently adjusting the brightness and volume with the new media key funciton is a bit slow due to the number of presses required.

This is because Lunar is not emulating the default behaviour of macOS correctly.

### How should the feature work

Normally in macOS there a

[2020-03-02 14:13] unknowndomain opened #78 "Multiple monitor support for brightness media keys"
### Name of the feature

Multiple monitor support for brightness media keys

### What problem does this feature solve?

Currently only the 'active' monitor can be adjusted, it's unclear what an active monitor is.

### How should the feature work

macOS already has a solution for this issue, normally with two Apple displays connected pressing Control and the brightness up or down key affects the se

[2020-03-02 16:37] alin23 commented on #78
Lunar currently uses media keys to control the monitor that the cursor is on. That is how macOS defines the _main display_. This needs to work like this to have support for any number of external
monitors.

I know the macOS uses ctrl for the secondary monitor, but Lunar is supposed to be a replacement for the native brightness adjustment (for external monitors) and as it has support for more than

[2020-03-02 16:42] alin23 commented on #77
The step is configurable from the Configuration page of Lunar:
![image](https://user-images.githubusercontent.com/3819725/75696961-1044c600-5cb5-11ea-8cf4-5d81fbcb4442.png)

Of course, it would be great to also have fine adjustment hotkeys. Lunar already has that logic implemented but it is not enabled because I don't know how to make it visible. There's already so much stuff going on in the UI..

[2020-03-02 16:42] unknowndomain commented on #78
I assumed that active display either meant the screen the mouse was on or the one with the 'bright' menu bar, but the brightness adjustment doesn't work.

That said I still think it would be better to support the shortcuts the way macOS does, I appreciate for some people this might be a replacement but for the vast majority of people who don't have Apple displays those brightness controls don't wo

[2020-03-02 16:46] alin23 commented on #78
I think I'm doing the main display detection wrong, I'll try to fix it in the next version.
As for the ctrl thing, how would you envision this working along with contrast controls and support for any number of monitors?

I'm having a hard time finding a way to incorporate these features in the macOS way.

[2020-03-02 16:49] alin23 commented on #76
The library that I'm using to listen for media keys, ignores media key events when the cursor is on the built-in screen. I just tested and when pressing Option+Brightness/Volume keys while the cursor is on the built-in display of my Macbook the System Preferences window opens as expected.

If it doesn't work for you then it's possible that it is related to the main screen detection issue. I'm work

[2020-03-02 17:31] unknowndomain commented on #78
I guess it depends if you want to support both, one way would be to have a flag to switch between macOS mode and Lunar mode.

I could manage with the mouse thing if it worked tbh, I am just a shortcut person and currently my every day short cuts aren't working.

[2020-03-02 17:33] unknowndomain commented on #77
This is perfect, might be helpful due to the small increments if you could make it so you can type or at least use up/down arrows, the qwirky UI makes it hard to get exact numbers as you have to use the mouse scroll whcih has acceleration on it.

[2020-03-02 17:34] unknowndomain commented on #76
I am on a MacBook Pro 15" with the lid closed and two LG 27UL850 or 27UK850 attached via USB-C, it looks like this is broken then for me also looks like actually none of the media keys are working like play/pause.

[2020-03-02 18:18] alin23 commented on #76
That's odd. Play/pause also works for me no matter where I have the cursor, and I don't override them in Lunar code so I don't see why they wouldn't work.

I will try some more stuff to fix this for you. Until then can you confirm that play/pause works if you disable the _Use media keys as hotkeys_ option?
![image](https://user-images.githubusercontent.com/3819725/75704946-fe6a1f80-5cc2-11ea-87d9-

[2020-03-02 18:19] alin23 commented on #77
You can actually use up and down arrows when the cursor is on the number you want to change.

[2020-03-02 18:26] alin23 commented on #78
I'm working on fixing this as soon as possible.

[2020-03-02 18:34] alin23 commented on #72
What Sync mode actually does is read the brightness of the built-in display and after applying the curve algorithm and min/max limits to it, sends it to the external monitors.

So if the limits are reaching 0/100 and the offset is set to something sensible like 5 or -5 then your monitor should be able to reach 0/100.

This is what I have and my monitor's brightness can reach 100 with _Automaticall

[2020-03-02 18:37] unknowndomain commented on #76
Yeah they are not, maybe this is a catalina issue then

[2020-03-02 18:38] unknowndomain commented on #77
That works in the hover menu of the menu bar, but not in the configuration on the hotkeys.

[2020-03-02 18:39] alin23 commented on #76
Probably not as I'm also using latest Catalina. Do those keys work if you quit Lunar?

[2020-03-02 20:22] alin23 commented on #77
Maybe try to quit and restart Lunar. There's no reason why this shouldn't work as long as Lunar is the frontmost app and you are hovering with the mouse over the number.

[2020-03-03 09:28] bluestarstudios commented on #75
The log doesn't actually get generated on these crashes. But I DO however have the actual crash logs. Each crash creates an identical crash log at `~/Library/Logs/DiagnosticReports/`. Hopefully this helps pinpoint the missing image or library that's causing the crash.
[code]

[2020-03-03 10:36] alin23 commented on #75
Uhhh.. I have no idea how this happened. It seems that I have switched off the `embed swift libraries` flag.

This will be fixed in the next version. Thanks for the crash report, it really helped!

[2020-03-03 16:31] zierka commented on #71
Thanks for the updates! Let me know if I can help you with anything regarding this bug.

[2020-03-04 09:51] utkarshdalal commented on #75
I have the same issue for MacOS 10.12.6. Had to downgrade my Lunar version.

[2020-03-05 09:03] fservant commented on #74
Oh, I see. Thanks for the clarification. Then, the behavior that I am seeing must be a bug. These are the steps to reproduce:

1. Open Lunar
2. Place mouse on the external monitor.
3. In the system's audio drop-down menu, select audio output to be the external monitor.
4. Change volume level (it correctly changes the monitor)
5. In the system's audio drop-down menu, select audio output to be the p

[2020-03-05 09:37] alin23 commented on #74
Yes it is a bug and I'm working to fix it but this might also be a problem with the system's CoreAudio getting stuck so no matter what I do, it might still happen occasionally.

[2020-03-06 00:54] sfdye opened #79 "Lunar Feature - clamshell mode documentation"
### Name of the feature

Documentation for clamshell mode

### What problem does this feature solve?

Provide more documentation for clamshell users

### How should the feature work

What's the recommended settings for clamshell mode? I am guess because the sensor is covered, we should only use location mode?

### Visual description

NA

[2020-03-06 01:14] sfdye opened #80 "Lunar Feature - Sidecar support"
### Name of the feature

Support sidecar (iPad as physical display)

### What problem does this feature solve?

- Adjust brightness does not seen to work for iPad
- Unable to rename the name of display ("Celestrial")

### How should the feature work

- sidecar is supported
- Ability to rename display (maybe another FR)

### Visual description

NA

[2020-03-06 08:23] alin23 commented on #79
Hi @sfdye ! Yes, Sync mode is out of the question because the sensor is covered in clamshell mode.
You can:
- Use Location mode for some automatic adjustments based on the sun position
- Use Manual mode if you just want to use hotkeys/media keys
- Disable clamshell detection in the Lunar menu if you never use the laptop with the lid open when connected to a monitor

There's not much else to say ab

[2020-03-06 10:04] alin23 commented on #80
Unfortunately this is not possible. Sidecar uses airplay which has no support for changing brightness. Lunar uses DDC which is a wire protocol and could never work wirelessly. I can't even ignore the Sidecar displays in Lunar because they show up like any other display in the system, with no info about being a wireless display.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:04] #80 closed

[2020-03-06 10:05] alin23 commented on #78
This should be fixed in Lunar 3.1. Let me know if there's anything that doesn't work as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:05] #78 closed

[2020-03-06 10:05] alin23 commented on #77
This should be fixed in Lunar 3.1. Let me know if there's anything that doesn't work as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:05] #77 closed

[2020-03-06 10:05] alin23 commented on #76
This should be fixed in Lunar 3.1. Let me know if there's anything that doesn't work as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:05] #76 closed

[2020-03-06 10:07] alin23 commented on #75
This should be fixed in Lunar 3.1. Let me know if there's anything that doesn't work as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:07] #75 closed

[2020-03-06 10:07] alin23 commented on #71
This should be fixed in Lunar 3.1. Let me know if there's anything that doesn't work as expected.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:08] #71 closed

[2020-03-06 10:10] alin23 commented on #74
This should work as expected in Lunar 3.1 which is Lunar should only override the volume keys if the current audio device can not be controlled by the system (common for monitor audio output).

Let me know if the issue persists.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-06 10:10] #74 closed

[2020-03-06 10:15] alin23 commented on #73
Unfortunately there's no way to tell which audio device belongs to which monitor. I can only detect if the current audio device can be controlled by the system or not.

I updated the logic in Lunar 3.1 to only override media keys if the current audio device can not be controlled by the system which is a common thing for monitors. If the DAC audio device also can't be controlled by the system then

[2020-03-06 20:23] cumanzor commented on #73
Thanks for looking into this. An option would be to make the "Use Media Keys as Hotkeys" into two separate options, one for brightness (which I use), and one for audio (which triggers the monitor audio OSD even if the audio device is not the monitor).

Honestly though now that I think about it this isn't a particularly big deal to me, I can just use the controls from the DAC directly.

[2020-03-06 22:38] alin23 commented on #73
Thanks for the idea!

I'll close this issue as it isn't really fixable as I want. I'll reorganise the menu items that are rarely touched into the Lunar UI and I'll split the _Use Media Keys_ option as you recommended.

[2020-03-06 22:38] #73 closed

[2020-03-08 23:53] DamiansDesign commented on #57
Hi @alin23,

Unfortunately 3.0.0 hasn't fixed it, though it does give more insight into what is going on. I'm now seeing 'Non-Responsive DDC' error when this problem occurs.

If I quit Lunar and re-open, the problem is resolved; external monitor syncs and no error message.

Is it possible to have the 'Non-Responsive DDC' clickable and have Lunar reload (or some kind of forced refresh)?

Thanks aga

[2020-03-09 02:19] bluestarstudios commented on #75
Sadly 3.1.0 didn't fix it. Here's the latest crash log:

[code]

[2020-03-09 08:47] alin23 commented on #57
Ok let me know if 3.1 fixed this. I'll also add a reload button as you suggested, I can see that being useful.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-09 10:00] alin23 commented on #75
@bluestarstudios @utkarshdalal
I see people recommending to install the Swift 5 runtime support for older systems: https://support.apple.com/kb/DL1998?locale=en_US

Try this and let me know if it fixes the issue.

I really don't know what I can do from the Lunar side. The only change that could be related to this is upping the minimum OS version to 10.12 from 10.11. But I can't go back to 10.11 be

[2020-03-09 11:54] bluestarstudios commented on #75
I'm happy to report that this worked! Thanks!

[2020-03-09 12:15] alin23 commented on #75
Great to hear that! I added this information in the [troubleshooting section](https://github.com/alin23/Lunar#troubleshooting)

[2020-03-09 16:03] fservant commented on #74
Hi. I'm sorry, but version 3.1.0 still has the same problem, with the same steps to reproduce :(

[2020-03-09 16:39] alin23 commented on #74
I can't reproduce it, it's probably a CoreAudio inconsistency on your part. Lunar is listening for audio device change events from CoreAudio and looks like on your side the change event happens when you select the monitor device but doesn't happen when you select the headphones.

I've had many troubles with CoreAudio hanging because of Bluetooth or Airplay devices, it really isn't that reliable bu

[2020-03-11 12:52] sfdye commented on #79
I've been patient for a few days but the location mode does not seem to work at all (I don't see the numbers change throughout the day)

![image](https://user-images.githubusercontent.com/1016390/76418760-28fe5b80-63da-11ea-8c66-4df7cd21b129.png)

Am I doing anything wrong?

[2020-03-11 12:54] alin23 commented on #79
Your monitor is set to Manual. It needs to be set to Adaptive for that to work. Click on the `Manual` button to switch back to Adaptive mode

[2020-03-11 12:55] alin23 commented on #79
When you change to brightness manually, Lunar automatically sets your monitor into Manual mode to avoid unwanted changes from Location/Sync mode algorithm

[2020-03-11 12:57] sfdye commented on #79
The moment I change to Adaptive mode:

![image](https://user-images.githubusercontent.com/1016390/76419124-cf4a6100-63da-11ea-8f72-3c4887d61d96.png)

(of course under clamshell mode)

[2020-03-11 13:04] alin23 commented on #79
Can you show me your Lunar configuration page?

This is how mine looks (with coordinates redacted):
<img width="1062" alt="Screenshot 2020-03-11 at 15 01 43" src="https://user-images.githubusercontent.com/3819725/76419731-862de900-63a9-11ea-8ec6-76c6caec2be9.png">

[2020-03-11 13:07] sfdye commented on #79
![image](https://user-images.githubusercontent.com/1016390/76419885-1d139900-63dc-11ea-947b-a54c5ed75dd9.png)

Now it looks like this.

I also tried manually fill in my coordinates, didn't help either.

FYI clicking "Reset" does nothing for me.

[2020-03-11 13:09] sfdye commented on #79
![image](https://user-images.githubusercontent.com/1016390/76420085-84314d80-63dc-11ea-9403-0d0ca44e3fa6.png)

I realize that I didn't grant location services permission for `Lunar` yet. I don't remember the app requesting for it 🤔

[2020-03-11 13:10] alin23 commented on #79
Yep, that is the problem. Lunar requests for location access the first time it starts.

[2020-03-11 13:11] sfdye commented on #79
Now it works.

Really I don't remember I said No to yet 🤔

[2020-03-11 13:12] alin23 commented on #79
It definitely does that. I just tested the functionality now and it still works. But there were a number of bugs in the macOS new permissions system. It's possible you encountered one

[2020-03-11 15:30] mvaneijgen opened #81 "Does lunar have TouchBar multi touch featured for brightness control?"
# Issue description:
I run BetterTouchTool with a three finger drag to adjust the brightness on my macbook, but if Lunar is active it spaces out. I have the feeling Lunar is also detecting the three finger drag and tries too also adjust the brightens. Are you working on a experimental feature? If so is there a way to disable it.

# Issue details
- Mac device where Lunar is installed (Macbook Pro 2

[2020-03-11 16:52] alin23 commented on #81
Lunar is listening for media keys and the three finger drag just sends a brightness key press event.
Nothing special, I'm not working with the touchbar at all. If you want to skip this, you have to disable the media keys listener in Lunar or keep the cursor on the built-in display while using the touchbar gesture.

[2020-03-11 16:52] #81 closed

[2020-03-13 08:57] juandrei opened #82 "Lunar Diagnostics Report [https://transfer.sh/pnewM/lunar.log.enc] [C1827C7975963EF80E47996E79A8A6918661A3BC7C266A1EE9F8B71E060BDD35] [3.1.0]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
no

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
macbook pro 16"  ( connecting to Apple Cinema Display 2010 )

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
USB-C with Baseus converter t

[2020-03-13 11:36] sfdye opened #83 "[Bug] Sidecar force manual mode for main monitor"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB Docking Station or Hub:
    *write

[2020-03-13 17:23] alin23 commented on #83
It's not sidecar doing this. macOS resets the system display listing when you disconnect the iPad, and from Lunar's perspective, it looks like there's no monitor connected, and then a new monitor appears.

But the events happen too fast sometimes and Lunar can't adjust fast enough. I also have the same setup, 1 monitor connected to Thunderbolt 3 and one Sidecar iPad, and this also happened to me b

[2020-03-13 17:23] #83 closed

[2020-03-13 17:25] alin23 commented on #82
If ddcctl doesn't work for you, then it's a connection problem and Lunar can't do anything. Most probably the baseus converter doesn't forward DDC messages properly. Try a direct connection if you have the possibility.

[2020-03-13 17:25] #82 closed

[2020-03-14 00:50] DamiansDesign commented on #57
@alin23, unfortunately no, it's happened again.

This time, the 'Non-Responsive DDC' is actually behind --and partially covered by-- the 'Adaptive' button (clicking button does nothing). Quitting Lunar and relaunching fixes it.

Another thing I noticed and not sure if it's a bug, is the brightness overlay only shows up on the external display if my mouse cursor is on that screen --and it only chan

[2020-03-14 01:53] sfdye commented on #83
Can't we persist the per monitor preference somewhere and reload from it once macOS resets?

[2020-03-14 12:25] alin23 commented on #57
The `brightness overlay` thing is how it should work. Lunar listens for brightness keys events only when the cursor is on an external monitor, and changes the brightness strictly for that screen. Otherwise you wouldn't be able to change the brightness on the built-in display.

You can use the brightness hotkeys defined in the Lunar hotkeys page to change the brightness to all the monitors at once.

[2020-03-14 12:29] alin23 commented on #83
We can't because the event we're talking about changes display IDs, and we use those IDs to know where to route the DDC messages. We always have to reset the whole display list when that event is triggered.

You didn't fill in the issue details though, that would have helped me understand the issue more.
What Mac device are you using?
Are you using a Macbook in clamshell mode?
Do you have _Clamshe

[2020-03-15 15:12] marcelkooi opened #84 "Unable to run newer versions of Lunar"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
Macbook Pro 2017

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
LG Pavilion 32 Display

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
HDMI-to-USB-C

- Using an USB Docking Station or Hub:
Yes

- Lunar mode used (check it in

[2020-03-15 17:20] alin23 commented on #84
It's possible that you have an older version of macOS without Swift 5 libraries installed.
Check point 1 in the Troubleshooting section: https://github.com/alin23/Lunar#troubleshooting

[2020-03-16 04:41] DamiansDesign commented on #57
@alin23,

Ah OK, thanks for the explanation.

It's fine, I just use my keyboard brightness keys and the external monitor adjusts thanks to Lunar. :)

I understand, especially when you're unable to reproduce the problem. Even if the problem can't be fixed, having an option to reload/refresh rather than quitting and re-launching the app would make life much better.

Thanks again for your dedication

[2020-03-17 01:16] marcelkooi commented on #84
That seemed to fix it! Installed v3.1 without any issues. I am running High Sierra so you were right. Thanks again!

[2020-03-17 01:16] #84 closed

[2020-03-18 05:09] ymszzq opened #85 "Shortcut to set different monitor different percentage."
### Name of the feature

Shortcut to set different monitor different percentage.

### What problem does this feature solve?

2 external monitors have different brightness for same percentage. It is great to have a way to have different set up base on each user's monitoring reaction to percentage.

### How should the feature work

i.e
Shortcut Level 1 will set monitor 1 30%, monitor 2 50%, so they

[2020-03-18 05:28] ymszzq commented on #85
Actually I found out location mode work perfect. Feel free to close this feature request.

Thank you very much

[2020-03-18 08:27] #85 closed

[2020-03-18 09:52] alin23 commented on #57
@DamiansDesign please try Lunar 3.1.1 and let me know if it fixes the issue.

[2020-03-19 01:01] DamiansDesign commented on #57
@alin23,

I installed 3.1.1 last night and this morning I had 'Non-Responsive DDC' after wake-up, so that problem still persists, however clicking the 'reset' fixes it.

Thank you for implementing that --it's much easier than quitting and relaunching the app. 👍

[2020-03-20 20:32] Ambroos opened #86 "HDR mode reports much higher brightness than noticeable"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB Docking Station or Hub:
    *write

[2020-03-21 08:32] alin23 commented on #86
You probably have Quicktime listed in the app exceptions list of Lunar:
![image](https://user-images.githubusercontent.com/3819725/77222787-372d4400-6b5f-11ea-8196-a31c7ff775ab.png)

[2020-03-21 13:14] Ambroos commented on #86
@alin23 Nope! No exceptions! I think the HDR metadata might change something about how macOS handles display brightness, maybe?

[2020-03-21 13:26] alin23 commented on #86
I'm really not sure about the HDR thing. Can you check the output of `ioreg -c AppleBacklightDisplay | rg -o '"[^"]*brightness[^}]+"value"=[0-9]+}'` before and after starting the HDR video playback?

That will show you parameters of the built-in display brightness. Also you need ripgrep for that in case you don't have it installed: `brew install ripgrep`

[2020-03-21 13:31] Ambroos commented on #86
The values do change!

Before:

[code]

After:
[code]

They return to before once I close QuickTime.

[2020-03-21 13:36] alin23 commented on #86
Well I guess that's macOS's fault ¯\\_(ツ)_/¯
Do you have an idea of how Lunar should treat this case?

[2020-03-21 14:02] alin23 commented on #86
Indeed, I could reproduce this too with an MP4 HDR video. It's weird because the built-in display brightness doesn't seem to change but the value reported by IOKit (which is actually what Lunar uses) really changes.

I'll try to see if there is a way to read the brightness unaffected by HDR, but I doubt I'll find anything.

Thanks for reporting this weird issue, I wouldn't have expected this.

[2020-03-26 22:03] bluestarstudios commented on #25
On iMac, macOS High Sierra 10.13.6. Lunar installed in /Applications. And just like all of the above reports, it never starts up when using the "Start at Login" option. Adding it in manually now.

[2020-03-29 14:05] salayidin opened #87 "Lunar Diagnostics Report [https://transfer.sh/3EYBq/lunar.log.enc] [E4A480FC0CE0330F5C826B733B49E5B7C32F99F11BD8988B16A24DBB540C6307] [3.1.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
   yes

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
   MacBook Pro (16-inch, 2019)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
   USB-C-to-DisplayPort

- Using an USB Docking Station

[2020-03-29 20:33] gianza opened #88 "Cannot deactivate hotkeys in Preferences window"
# Issue description:
In Lunar v.3.1.3 (latest), opening the "Preferences..." option and navigating to the "Hotkeys" window, we can unassign each hotkey by clicking on the X button. However, the deactivation doesn't work and it's not saved: when re-opening the "Hotkeys" window, the previous hotkey sequence is shown again as active.

Could you please check?

Thanks for the great work and have a nice

[2020-03-30 10:43] alin23 commented on #88
Hi @gianza .

There hasn't been any change in the hotkey management code. I also just checked and the hotkeys can be disabled as expected on my part (and persists even after quitting Lunar):
![image](https://user-images.githubusercontent.com/3819725/77903870-406b8e80-728c-11ea-8016-a813f2483ea0.png)

Is there a specific hotkey you're having trouble with?

[2020-03-31 12:46] gianza commented on #88
Hi @alin23 ,

I checked again and it is not working for the Volume Down, Volume Up and Mute Audio hotkeys, and for the 'Hold Option for fine adjustments' checkbox in Volume Up/Down.

[2020-03-31 19:59] alin23 commented on #88
Got it! It will be fixed in the next version

[2020-04-01 05:57] alin23 commented on #88
Fixed in 3.1.4

[2020-04-01 05:57] #88 closed

[2020-04-03 05:05] mkbctrl opened #89 "Lunar Bug"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 16 2019

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    Samusung U32R59x - https://www.samsung.com/us/computing/monitors/curved/32-ur59c-curved-4k-uhd-monitor-lu32r590cwnxza/

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-D

[2020-04-03 08:13] alin23 commented on #89
Hi @mkbctrl

This is not a bug, there is a configurable limit in the Settings page of Lunar. Swipe left or press left arrow on the keyboard to see it:

![image](https://user-images.githubusercontent.com/3819725/78338828-27205600-759c-11ea-85a2-294e913a42bb.png)

[2020-04-03 08:13] #89 closed

[2020-04-05 06:10] jessestauffer commented on #55
1. **Monitor brand and model:** 2 dual LG 27UL600-W
2. **Host device:** Macbook Pro 2019 16in
3. **Type of connection:** HDMI to USB-C
4. **Model of hub/dock:** None
5. **What works:** Changing settings for 1 of the monitors
6. **What doesn't work:** Changing settings for the 2nd monitor

I saw on another issue that sometimes Lunar has trouble identifying individual monitors in a dual monitor setu

[2020-04-05 06:56] alin23 commented on #55
Hi @jessestauffer!
Does the ddcctl utility work for you for both monitors? You can find it here: https://github.com/kfix/ddcctl

If that works, then we could hop on a private chat to diagnose this issue.

Usually Lunar has trouble with multiple monitors when they are connected through the same port, like through a multiplexing USB-C hub. If the monitors are connected to individual USB-C ports of t

[2020-04-05 07:11] jessestauffer commented on #55
Thanks for the response, @alin23! I tried the ddcctl utility and it recognizes two monitors but only worked on the first monitor, similar to Lunar. I'm waiting on a replacement HDMI to USB-C to the faulty monitor, due to screen lag. I'm curious to see if the faulty cable could be the cause of this issue as well...

[2020-04-05 07:16] alin23 commented on #55
In this case it sounds like a cable or connector issue. You can try to swap cables between monitors to see if that is really the issue.

You can also try to connect the monitors on different sides of the Macbook, one on the left and one on the right, if you have 4 USB-C ports. This way you will be using one Thunderbolt chip per monitor.

I had faulty cables, so that is a possibility. But even more

[2020-04-05 07:24] jessestauffer commented on #55
Tried distributing over the Thunderbolt chips and swapping cables...definitely seems like a cable issue. I'll get a replacement and reach back out if I still have an issue.

Thanks for the help!

[2020-04-07 22:15] Enaah opened #90 "Sync Mode does not work on iMac (late 2013)"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    iMac Late 2013 - A1418 (EMC 2638) (macOS Catalina (10.15.4))

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
   Dellp2416D (24" 2k Monitor)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Display-Miniport (Thunderbolt

[2020-04-08 09:16] alin23 commented on #90
Hi @Enaah
1. Does the iMac have `Automatically adjust brightness` enabled?
![image](https://user-images.githubusercontent.com/3819725/78766297-c32dd100-7991-11ea-9fe3-4b0681d363b5.png)

2. And does it adjust the brightness on your iMac when you cover the ambient light sensor?
![image](https://support.apple.com/library/content/dam/edam/applecare/images/en_US/imac/imac-2012-2015-front-view-tech-spec

[2020-04-08 11:49] Enaah commented on #90
Thanks for the quick response!

It was enabled, I disabled it and it had no effect.

No, it had no effect.

Yes *Manuel* and *Location* Modes are working.

[code]

[code]

I had `Automatically adjust brightness` enabled and once disabled, no effect on the output.
Is my Light-sensor broken (because the output did not change)?

Thanks in advance!

[2020-04-08 11:59] alin23 commented on #90
Yes, looks like there's an issue with your light sensor. Sync mode reacts to built-in display brightness changes, which in turn are caused by the light sensor readings by the system.

You can try to reset SMC to see if it makes any difference: https://support.apple.com/en-us/HT201295#reset

[2020-04-08 12:00] alin23 commented on #90
I'll close this as it is not an issue with Lunar, but we can keep the discussion going.

[2020-04-09 05:03] irodrigo17 opened #91 "Lunar Feature"
### Name of the feature

Request location permissions after install

### What problem does this feature solve?

Avoid manually going to System Preferences and enabling location services for the app.

### How should the feature work

Show the standard macOS location services permission request dialog when app starts.

### Visual description

Use standard macOS UI.

[2020-04-09 05:05] irodrigo17 commented on #91
Just found Lunar after being blinded by my big ass display when working from home at night, it works great, thanks! I'm happy to send a PR for this on the weekend if you like the idea.

[2020-04-09 06:09] alin23 commented on #91
Hi @irodrigo17 !

Lunar already has this feature, but it seems the way to request for authorisation changed in macOS 10.15 and the prompt does not appear anymore. I'll take a look today.

[2020-04-09 15:04] irodrigo17 commented on #91
Cool, thanks!

[2020-04-09 18:07] alin23 commented on #91
@irodrigo17 this will be fixed in the next version

![image](https://user-images.githubusercontent.com/3819725/78926662-1db85180-7aa6-11ea-8af7-246466ddffc5.png)

[2020-04-09 18:44] irodrigo17 commented on #91
Thanks @alin23!

[2020-04-09 21:27] clarkFransje opened #92 "Lunar Diagnostics Report [https://transfer.sh/fJX3C/lunar.log.enc] [713E97B996A80332ADB74BE4E50E633E47A9A952159293FEE937152A6056D5F4] [3.1.4]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 2018

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    HDMI-to-USB-C

- Using an USB Docking Station or Hub:
    USB

[2020-04-10 14:14] alin23 commented on #92
Hi @clarkFransje!

Try connecting the monitor directly to the Macbook (skip the hub) if you can.
If you can't do that, try using a different cable.

If `ddcctl` can't send the command, then it's either a problem with the hub or the cable.

I'll close the issue as it is not a Lunar bug and I can't do anything to fix it. But you can post updates here and we can keep chatting about your problem if yo

[2020-04-10 14:14] #92 closed

[2020-04-13 12:58] Enaah commented on #90
Hey, I tried to reset the SMC, but nothing changed.
I have changed the LCD last week (because it was broken) but nothing changed, I guess the light sensor is just broken.
If it's not broken the output from `ioreg -c AppleBacklightDisplay | rg -o '"[^"]*brightness[^}]+"value"=[0-9]+}'` should have changed, right?

[2020-04-13 13:01] alin23 commented on #90
Yes, those values are the built-in monitor brightness values reported by the system.

If your built-in monitor brightness doesn't change when you cover/uncover the light sensor then it must not be working.

[2020-04-13 14:05] Enaah commented on #90
Thanks.
On the MacBook it's working (and _Sync Mode_ aswell).
For my Information: Could you explain how/why the light sensor ist connected/necessary for _Sync Mode_? 🙂

[2020-04-13 14:10] alin23 commented on #90
Sync Mode works by listening for brightness changes on the built-in monitor and _synchronising_ those changes to the external monitors.

Of course that makes sense only if the built-in monitor already reacts to the ambient light around it.

Sync mode can work without the light sensor too. If you manually change the built-in monitor brightness, Lunar should sync that to the external monitor. It jus

[2020-04-13 14:32] Enaah commented on #90
Thanks for the information.

I only want and use that with Luna 😅
So this should be working even if the _light sensor_ is broken?
Because it doesn't. The brightness of the second Monitor gets really dark and changes only effect the iMac Screen.

[2020-04-13 14:38] alin23 commented on #90
Oh I had no idea you want to use it this way. Can you try to see if [ddcctl](https://github.com/kfix/ddcctl) works for you?

Also check if the `ioreg` commands report different values after you change the built-in monitor brightness manually.

If the steps above work as expected, can you send me the log found at `~/Library/Caches/Lunar/swiftybeaver.log` ? I'm going to need more details about what

[2020-04-13 17:12] hurshagrawal opened #93 "Volume adjustment breaks when changing bluetooth headphones"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 16 inch

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    HP Z27

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    usb-c-to-usb-c

- Using an USB Docking Station or Hub:
  no

- Lunar mode used (check it i

[2020-04-13 18:35] alin23 commented on #93
Hi @hurshagrawal !

I added this in 3.1.5 😊

![image](https://user-images.githubusercontent.com/3819725/79147081-122d9900-7dcc-11ea-8f15-dbececd53627.png)

[2020-04-13 18:42] #93 closed

[2020-04-13 18:45] alin23 commented on #70
This was added in Lunar v3.1.5

Please let me know if it works as expected @stygmate

[2020-04-13 18:45] #70 closed

[2020-04-13 20:20] hurshagrawal commented on #93
Amazing! Thanks!

[2020-04-13 20:21] hurshagrawal commented on #93
Yep works great. Thanks a lot.

[2020-04-14 07:44] stygmate commented on #70
Hi, it works at expected ! I've matched my external screens range and curve to my internal macbook display and it is perfect !

[2020-04-14 12:55] vguerci opened #94 "Issue with audio volume increasing on laptop lid close / open"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *Macbook Pro 2019*

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    *LG 27UL850-W 4k HDR*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *USB-C-to-USB-C*

- Using an USB Docking Station or Hub:
    *No*

- Lunar m

[2020-04-14 13:17] alin23 commented on #94
I don't really understand the issue here.
This is how I understand it:

##### first
1. Lid closed
2. Enabled options: _"Use media keys as hotkeys"_ and _"Change monitor volume with volume keys"_
3. Changing volume with volume keys works

##### then
1. Lid opened
2. Enabled options: _"Use media keys as hotkeys"_ and _"Change monitor volume with volume keys"_
3. Changing volume with volume keys does

[2020-04-14 13:41] vguerci commented on #94
Hey, thanks for the quick reply.
Sorry for being unclear, but I have no issue with volume keys that always works. It is just that after a lid close or open, as soon as I use the volume key Lunar change monitor volume to 80%. As if detecting the laptop screen was changing the value known by Lunar. IMO the Lunar "Last known value" should only be associated to the external monitor one and not affecte

[2020-04-14 14:04] alin23 commented on #94
I see, so the problem is the resetting of the volume.

The volume is not tied to lid close/open, but when you open/close the lid, the system has to recompute the screen configuration, and Lunar has to adapt to that by starting from scratch.
That means deleting the current display objects, getting the new configuration from the system and trying to match the new displays with the stored per-display

[2020-04-14 14:25] vguerci commented on #94
The read option is disabled. Thanks for looking into It, let me know if I can help, I'm confortable at swift / Xcode and such.

I'm far from an hardware expert but feel free to ask, I would love a new toy to build&play :)

[2020-04-14 18:56] Enaah commented on #90
Hey,
I've managed to get different output with the `ioreg`-Command on my MacBook and retried it with my iMac and it worked aswell.

`ioreg -c AppleBacklightDisplay | rg -o '"[^"]*brightness[^}]+"value"=[0-9]+}'`

[code]

[code]

But still, "Sync" is not working correctly.

here the Output of `~/Library/Caches/Lunar/swiftybeaver.log`
[code]

Thanks in advance.

[2020-04-15 07:28] alin23 commented on #90
@Enaah looks like Lunar detects the brightness being changed and sends it to the monitor. Does Manual or Location mode work for you on the iMac? Can Lunar actually change the brightness of your external monitor in any way?

Lunar is based on the DDC protocol which can be better tested with [ddcctl](https://github.com/kfix/ddcctl). If you can, please compile that tool and see if that can change you

[2020-04-15 11:42] Enaah commented on #90
Yes, _Manual_ and _Location Mode_ do work.
I also can control the Display with ddcctl:

[code]

On _Sync Mode_ the Display immediately goes to the lowest brightness.

[2020-04-15 11:47] alin23 commented on #90
Please run the diagnostics from the Lunar menu:
![image](https://user-images.githubusercontent.com/3819725/79333789-c98af280-7f27-11ea-82d2-d1c1b7fb4016.png)

It will try to open a new Github issue. Skip that and just let me know when the diagnostics have finished.

[2020-04-15 11:48] alin23 commented on #90
And thank you so much for the coffee! ☕ 🌕

[2020-04-15 11:49] Enaah opened #95 "Lunar Diagnostics Report [D477EF8AAB68518670C778D50B93E2197865440342519014868C3C20481FA1D1] [3.1.5]"
Reference:
https://github.com/alin23/Lunar/issues/90

[2020-04-15 12:17] jkylehumphrey opened #96 "Lunar Diagnostics Report [76B0E1D9B5D264C15E0EEE3816228FC46EE9967A568836F8D3394BDB57E9A265] [3.1.5]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
   No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    2019 MacBook Pro 13"

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C to HDMI

- Using an USB Docking Station or Hub:

[2020-04-15 12:20] alin23 commented on #96
Hi @jkylehumphrey ! Unfortunately, most TVs don't implement the DDC write functionality needed by Lunar to work. I tested Lunar myself on 4 different TVs and none worked.

[2020-04-15 12:20] #96 closed

[2020-04-15 12:28] jkylehumphrey commented on #96
I figured it wouldn’t. Thanks for reply. App looks great, btw! Wish it worked for my setup.

[2020-04-15 12:43] alin23 commented on #90
@Enaah can you please run the diagnostics again? I had a bug in the server and the output got truncated.

[2020-04-15 19:45] Enaah opened #97 "Lunar Diagnostics Report [D477EF8AAB68518670C778D50B93E2197865440342519014868C3C20481FA1D1] [3.1.5]"
reference: https://github.com/alin23/Lunar/issues/90

[2020-04-15 19:45] Enaah commented on #90
https://github.com/alin23/Lunar/issues/97

[2020-04-15 20:00] alin23 commented on #90
Thanks, can you also send me screenshots of all the three pages of the Lunar UI?
* Display: the white page
* Configuration: the yellow page
* Hotkeys: the mauve page

[2020-04-15 21:21] Enaah commented on #90
Here you go:

![Screenshot 2020-04-15 23 20 11](https://user-images.githubusercontent.com/10073766/79390274-b6037a00-7f6f-11ea-9ca6-8c03b4cb5e9f.png)

![Screenshot 2020-04-15 23 20 13](https://user-images.githubusercontent.com/10073766/79390301-be5bb500-7f6f-11ea-94ff-00f1352fe06b.png)

![Screenshot 2020-04-15 23 20 19](https://user-images.githubusercontent.com/10073766/79390310-c4519600-7f6f-11ea

[2020-04-15 21:26] alin23 commented on #90
Thanks! I was hoping for the screenshots with the Sync mode enabled as the UI contains different settings in that mode. But I guess you don't have any extreme values. I'll look over this tomorrow.

[2020-04-15 21:38] Enaah commented on #90
Thanks, an no pressure. It's not urgent. ✌🏼

[2020-04-17 08:57] Auer1329 opened #98 "Lunar Diagnostics Report [B9BF380CBB93337EBD961EEB190033E190850F566315841C77015C3B65B54981] [3.1.5]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    Yes

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 2017 15"

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C-to-USB-C

- Using an USB Docking Station or Hub:

[2020-04-17 09:01] alin23 commented on #98
Hi @Auer1329 ! Thanks for the feedback!

Can you explain in more details what doesn't work?
Doesn't the sync mode change your monitor brightness according to your built-in display brightness at all?
Doesn't Location mode adjust your monitor brightness throughout the day?

Can you please also post screenshots with the white and yellow pages of the Lunar UI in both Sync mode and Location mode? It wo

[2020-04-17 09:26] alin23 commented on #98
Also, please try to disable this option in the Lunar _Advanced_ menu

![image](https://user-images.githubusercontent.com/3819725/79554288-85722c00-80a6-11ea-8cff-fe79fb301174.png)

I can see in your logs that it's interfering with the Sync/Location modes.

[2020-04-17 22:12] nathantsmith opened #99 "Lunar Diagnostics Report [9AF2D3FFB44515C4B356AF86A201204F560573E1A59413AA8E938C62A65B1849] [3.1.5]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Air 2018

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
 USB -C dock HDMI
- Using an USB Docking Station or Hub:
Yes
- Lun

[2020-04-18 09:54] alin23 commented on #99
Hi @nathantsmith!
Thank you for the feedback!

If ddcctl can't write values to your monitor then Lunar won't be able to do that either. The problem is hardware related, either a bad cable or a bad connector or a non compliant dock. Try a direct connection between the MacBook and the monitor if possible or try using a different cable.

There's nothing we could do in software to fix this as the prob

[2020-04-18 15:28] #99 closed

[2020-04-22 00:39] sfdye opened #100 "Lunar Bug - Automatically quit itself"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Air 2020

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
	Dell 2720Q

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
	USB-C to USB-C

- Using an USB Docking Station or Hub:
    No

- Lunar mode used (check it in t

[2020-04-22 07:16] alin23 commented on #100
Hi @sfdye !

Yes, it is a known bug. It will be fixed in the next version.

[2020-04-22 07:37] sfdye commented on #100
Very nice 🎉

[2020-04-23 09:56] #95 closed

[2020-04-23 09:56] #97 closed

[2020-04-23 09:57] #91 closed

[2020-04-23 09:59] alin23 commented on #87
@salayidin I'm sorry but I can't reproduce this error at all and can't find anything in the code that could cause this. I suspect it is something related to your setup as I haven't got any other reports with the same issue.

I don't know what else to do about this issue, so I'm going to close it.

[2020-04-23 09:59] #87 closed

[2020-04-23 10:01] #79 closed

[2020-04-23 10:05] alin23 commented on #55
So it seems that this database isn't that useful after all as all the monitors have DDC implemented and the issues are almost always related to a faulty connection. It's impossible to keep a database of no-name HDMI cables and USB-C docks as the number of combinations for the connection types is enormous.

[2020-04-23 10:05] #55 closed

[2020-04-23 11:18] alin23 commented on #94
This should be fixed in 3.2.0. It was a copy-paste typo I forgot to fix. The volume was being restored from the last contrast value.

The light sensor feature will be tackled in a different issue. If you want you can create a feature request issue where we can discuss that in detail. I'm very busy with my daily job these days, but I hope to get to that soon.

[2020-04-23 11:18] #94 closed

[2020-04-23 11:19] alin23 commented on #100
Should be fixed in 3.2.0. Feel free to reopen the issue if you still encounter this 😊

[2020-04-23 11:19] #100 closed

[2020-04-23 11:52] vguerci opened #101 "USB light sensor support"
### Name of the feature

Light sensor

### What problem does this feature solve?

I use a laptop with an external monitor. I prefer to keep the laptop closed, so I cannot use the Sync Mode. Being capable of using a luminosity sensor would solve this.

### How should the feature work

An external Light sensor, possibly a DIY usb module. Lunar would need to implement something similar to what macOS

[2020-04-23 11:53] vguerci commented on #94
Thanks a lot! :)

[2020-04-25 08:06] bernadinm opened #102 "Monitor input selection/shortcut"
### Name of the feature
Change Monitor Input KVM Shortcut

*give a name to your wanted feature*

### What problem does this feature solve?

With multiple machines connected to a KVM enabled monitor like Dell U3419W it would be great to have the monitor change the input source with a hotkey.

*describe what doesn't work as it should now, and how this feature would solve that*

### How should the fe

[2020-04-25 09:55] alin23 commented on #102
Hi @bernadinm!

Can you please test ddcctl to check if it can control your monitor's input through DDC?
You can find ddcctl here: https://github.com/kfix/ddcctl

If that works then I'd be glad to implement that into Lunar!

[2020-04-25 12:05] sfdye commented on #100
This is fixed, but I just noticed the mode automatically switches to `manual` from `location` after time, without me doing anything.

[2020-04-25 15:33] alin23 commented on #100
It's possible that:
1. You have clamshell mode detection enabled and you are closing the Macbook lid:
![image](https://user-images.githubusercontent.com/3819725/80283780-04a8d500-8723-11ea-898c-d7bfa4cf3d0b.png)

2. You're hitting one of the hotkeys that enables Manual mode:
<img width="1062" alt="Screenshot Lunar Hotkeys" src="https://user-images.githubusercontent.com/3819725/80283769-ec38ba80-87

[2020-04-25 15:35] sfdye commented on #100
I see, disabled all the hot keys and let's see.

[2020-04-25 15:36] sfdye commented on #100
In hindsight, this should not come as surprise for new user, so I think the global hot keys should be unset by default.

[2020-04-30 23:11] Rastafabisch opened #103 "Lunar Diagnostics Report [E30B68473B5779B0DB828CB578DA1C76ED608E31FBDF609A19DF11FB686424F7] [3.2.2]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
   **No**

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
   **MacBook Pro 15" 2017**

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
   **Dual DisplayPort (5k)**

- Using an USB Docking St

[2020-05-01 10:45] alin23 commented on #103
Hi @Rastafabisch !

Unfortunately this is a connection problem. If ddcctl doesn't do anything for you then DDC messages aren't passed correctly to your monitor and there's nothing we can do in software to alleviate this.

The problem seems to be Dual DP which uses pins that are less often used (like the DDC pin) for extra data bandwidth:

[DDC Wikipedia](https://en.wikipedia.org/wiki/Display_Data_

[2020-05-01 10:45] #103 closed

[2020-05-03 20:21] ahydronous commented on #25
@alin23 same for me, 'start at login' still isn't working. Could you reopen this issue?

[2020-05-03 20:31] k7azadeh opened #104 "Lunar Diagnostics Report [A4A50119DBE752E244F2FAB5833ECD706897C912759EFCEF3E69A0D935A6A004] [3.2.2]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    no

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook pro 2017 15 inch

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C-to-DisplayPort

- Using an USB Docking Station

[2020-05-04 06:37] d4rkd3v1l commented on #65
I don't know if/how this helps, but for me Lunar works just great (using an eGPU).

MacBook 13" 2018
Razer Core X with Radeon Vega 64 connected via Belkin 2m TB3-Cable (before via "Razer Cable", worked fine as well)
two 4K Monitors (LG 24UD58-B)

So at least it doesn't seem to be a general eGPU issue, I guess.

[2020-05-04 09:02] alin23 commented on #65
@d4rkd3v1l interesting, thanks for the info!

I guess it's hit and miss with eGPUs. Cable, Mac device and type of connector, all play a role in how the DDC messages are sent through the wire. Hard to say which one of them could fail without having access to different devices/cables to test.

But it's nice to hear that not the eGPU in itself is the problem, but the combination of all of the above f

[2020-05-04 09:02] #65 closed

[2020-05-04 09:03] krupenja commented on #25
Can confirm that I also actually seeing this on a new Macbook with fresh install of macOS and 3.2.2 Lunar.

[2020-05-04 09:04] alin23 commented on #104
Hi @k7azadeh ! Can you please try to see if [ddcctl](https://github.com/kfix/ddcctl) works for you?
Because this sounds to me like a hardware/connection problem. If ddcctl can't change your brightness/contrast then something in your setup is failing to send DDC messages to the monitor.

[2020-05-04 09:07] alin23 commented on #25
I confirm it happens to me too, I just don't know what I'm doing wrong with the LoginItem.

I'll do some more research into this over the week. I really want to fix this.

[2020-05-04 11:22] ahydronous commented on #25
Alternatively, instead of adding Lunar to startup 'invisibly', why not add it to System Preferences > Users & Groups > Login Items?
Dropbox does this too, and frankly I dislike that most apps choose to do it with some invisimagic (meaning I don't have an explicit list of which third-party programs are started at boot)

[2020-05-04 12:19] alin23 commented on #25
@ahydronous that's exactly what I'm trying to do, using the official Apple guidelines. The code is already there and is trying to add the Lunar service to Login Items. But for some reason it is not working.

[2020-05-07 08:32] dlejay opened #105 "Not compatible with iMac models before 2013"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *It made it go black completely.*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *MacBook Air 2014*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *Thunderbolt 2*

- Using an

[2020-05-07 08:36] alin23 commented on #105
Hi! Can you please update Lunar to 3.2.3 and let me know what is the *Built-in Brightness* reported in the Lunar menu? Try changing the built-in display brightness and see if it is read correctly by Lunar.

![image](https://user-images.githubusercontent.com/3819725/81272989-e7df9c00-9056-11ea-9b0f-5792bdddfdea.png)

[2020-05-07 09:04] dlejay commented on #105
Lunar updated to 3.2.3
The built-in display brightness is reported as ``0.0``. Also, I realise that when Lunar is on, I cannot change the brightness of my MacBook Air with F1-F2.

[2020-05-07 09:06] alin23 commented on #105
Lunar listens for the brightness keys when the cursor is on an external monitor. You have to have the cursor on the built-in monitor to change brightness there

[2020-05-07 09:14] dlejay commented on #105
I understand. I was copying the screen of my Macbook to the screen of my iMac.

If I don't recopy, then the brightness is reported correctly but the iMac goes black.

Another thing that could be related: the iMac when in TDM (with screen copy) does not respond to F1-F2 from its keyboard (with or without Lunar).

[2020-05-07 09:36] alin23 commented on #105
I'm not sure if the iMac can be controlled by DDC. Unfortunately I don't have a way to test your setup so I really don't know how to fix this.

Try to rename the `iMac` display in Lunar to `LG UltraFine` (the case matters) by clicking on the display name
![image](https://user-images.githubusercontent.com/3819725/81278129-efef0a00-905d-11ea-98aa-6caab72ecc70.png)

This will force Lunar to use the n

[2020-05-07 10:05] dlejay commented on #105
If I let ``iMac`` and I use Manual mode, then by clicking ``75%`` or another brightness button, the iMac screen goes black. Also, in the macOS settings (under ``Display``), the brightness of the iMac is not changed. If I click to set the brightness with it, the screen behaves normally and is no longer black.

If I set ``LG UltraFine`` and click the same button, the brightness of the screens does n

[2020-05-07 10:13] dlejay commented on #105
I have just tried with another iMac 2013 (where keyboard brightness keys work). I have the exact same problems.

[2020-05-07 10:13] alin23 commented on #105
Does the iMac have Automatic Brightness in `Display` settings?
![image](https://user-images.githubusercontent.com/3819725/81282932-88888880-9064-11ea-8d37-5f6a970ec3a5.png)

[2020-05-07 10:15] dlejay commented on #105
I already tried to toggle that. No difference.

[2020-05-07 10:40] alin23 commented on #105
I meant that if it does have that then Lunar won't work because the brightness will be controlled by the system. And Lunar would also not be necessary if macOS can adapt the brightness for both the iMac and the Macbook Air.

I really don't know how I could fix this without having access to a similar setup. It would be great if you could clone the repo and try to fix it, and share the solution with

[2020-05-07 11:53] dlejay commented on #105
I believe macOS doesn't setup automatically the brightness of the iMac when used as a target display.

I'd love to find a solution and share it but I am afraid this is beyond my skills.
From what I could find on the Internet, Target Display Mode seems to be a half backed feature of macOS and it's actually a legacy feature now that TDM doesn't work with newer iMacs.

@alin23 I really appreciate the

[2020-05-07 11:55] alin23 commented on #105
Thank you for the kind words and all the details! After the lockdown I'll ask around to see if anyone I know has access to an older iMac. Maybe I'll get lucky ¯\\_(ツ)_/¯

[2020-05-08 08:47] redfern-cohere opened #106 "Lunar Diagnostics Report [DB90C14664B93891DD47B4469E4BEB4DD5CDFF02D2325A12858068AC1684CA78] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *I did not notice not changes*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *MacBook Pro (Retina, 15-inch, Mid 2015) - macOS Mojave version 10.14.6*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-

[2020-05-08 09:00] alin23 commented on #106
Can ddcctl change your display brightness with a command like `ddcctl -d 1 -b 10` ?

[2020-05-08 09:06] redfern-cohere commented on #106
No actual change to brightness.
$ ./ddcctl -d 1 -b 10
D: NSScreen #417385153 (2560x1440 0°) 109.00 DPI
I: found 1 external display
I: polling display 1's EDID
I: got edid.serial: T56150420248
I: got edid.name: VP2770 SERIES
D: action: b: 10
D: setting VCP control #16 => 10
$ ./ddcctl -d 1 -b 90
D: NSScreen #417385153 (2560x1440 0°) 109.00 DPI
I: found 1 external display
I: polling display 1's EDID

[2020-05-08 09:18] alin23 commented on #106
Ok, then this is clearly a hardware problem. Impossible to tell what part of your setup is the issue here, but the usual culprits are:

1. Cable that doesn't use the DDC pin or uses it for something else like sending video data for allowing bigger resolutions (e.g. in Dual DisplayPort mode)
2. Monitor that disables DDC writes to allow for fancy features like Dynamic Contrast without flickering
3.

[2020-05-08 09:18] #106 closed

[2020-05-10 18:59] mihar opened #107 "Lunar Diagnostics Report [A6F2CA2383107D74250493970E896A0CE234A6275745576632BC4C35370855E1] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MBP16

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    USB-C to TB3 dock to TB3 MBP16 port

- Using an USB Docking Station or H

[2020-05-11 06:36] alin23 commented on #107
Hi @mihar ! This looks like a hardware connection issue. Try other ways of connecting your monitor (different cable, without the dock etc.) and find what combination makes DDC work for you. This can't be fixed in software.

[2020-05-11 06:36] #107 closed

[2020-05-11 22:31] ahydronous opened #108 "Automatically checking for updates is broken"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 13" 2015, macOS Catalina 10.15.3

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    AOC 27"

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Thunderbolt 2 to Displayport

- Using an USB Docking Station or

[2020-05-11 22:39] ahydronous commented on #25
@alin23 I can confirm 'start at login' works now! I'm presuming the `LaunchAtLogin` framework uses the other method I spoke about, since Lunar does not appear in Login Items (which is fine, its nice to have but I'd rather have it working solid like this than not at all :) ). Thanks for fixing it!

[2020-05-12 06:46] alin23 commented on #25
Finally! Yes, LaunchAtLogin uses the method that can't show the login item. This is also what Apple recommends so we'll go with this one from now on.

[2020-05-12 06:46] #25 closed

[2020-05-12 08:22] alin23 commented on #108
That might be a bug in the Sparkle updater. I'll check the latest version to see if it fixes this.

[2020-05-13 17:01] eliassendaniel commented on #102
I just tested this on Dell U3419W and can confirm that it works.

`./ddcctl -d 1 -i 15`

Allowed me to toggle display port input which is my PC and from there I can use the official Dell Software manager to toggle back to USB-C which is my macbook.

[2020-05-13 17:05] danieleliassen commented on #102
I just tested this on Dell U3419W and can confirm that it works.

`./ddcctl -d 1 -i 15`

Allowed me to toggle display port input which is my PC and from there I can use the official Dell Software manager to toggle back to USB-C which is my macbook.

[2020-05-14 10:07] ahydronous commented on #108
I got an error that might be related: 'An error occurred while parsing the update feed.' when I try to update. Restarting Lunar does not fix it.

[2020-05-14 10:12] alin23 commented on #108
There is a maintenance operation on the update server right now. It's expected

[2020-05-14 20:24] jdha97 opened #109 "Lunar Bug"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    2016 Macbook Pro 15"

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    Dual HP 24w 23.8-inch Displays

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Both monitors connected to the dock with active Displayport to HD

[2020-05-15 07:57] alin23 commented on #109
This is a hardware issue. The dock doesn't correctly forward the DDC messages. It can't be fixed in software.

[2020-05-15 07:57] #109 closed

[2020-05-18 21:34] DG0BAB opened #110 "Lunar Diagnostics Report [B3920D9D959C24FB3D006EECF5C1AA67B3DD0EF4AC37CE21C6687B70A1BE47EB] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    On Dell U3014: Yes
    On Eizo EV3285: No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    iMac 2019

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Dell: DP -> Sonet Thunderbolt

[2020-05-19 07:46] alin23 commented on #110
Hi @DG0BAB !
If ddcctl can't control the monitor then it is a hardware issue. The issue could be with either the cable, monitor controller firmware or iMac GPU. Impossible to tell without further debugging.

Try switching the iMac port or use another Thunderbolt 3 cable if you can.

[2020-05-19 07:46] #110 closed

[2020-05-25 10:49] russellfortune opened #111 "Wrong monitor identification on 3 identical monitors setup through eGPU"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 16"
- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
    Dell U2718Q

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    eGPU out to DisplayPort

- Using an USB Docking Station or Hub:
    No

- Lunar mode used

[2020-05-25 12:50] alin23 commented on #111
@russellfortune thanks for the detailed issue description!

Can you please click on Open Lunar Diagnostics in the Lunar menu from the menu bar icon? I need some more logs to understand what is going on and the diagnostics process will do just that. Please link this issue to the new issue that the diagnostics will open.

It is possible that the GPU detection feature inside Lunar might be the culpri

[2020-05-30 15:48] yogevyu opened #112 "Lunar Diagnostics Report [FB348799B0BB4CEFC2D0F3633A5A11AA112C6A9D9559AA7856F07C4A9F530204] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
no...

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
   MBP 2018 13'' retina

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
   HDMI to usb-C dongle

- Using an USB Docking Station or Hub:

[2020-05-31 02:42] pancrepes opened #113 "Lunar Diagnostics Report [C93F329C75D1336062C192ED10BA5750D012ECDFE36F9D78FBE9D72C4D96F1DF] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    yes it did

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    16" MacBook Pro 2019

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    Dell U2720Q dock monitor USB-C with power deliver

[2020-05-31 02:47] pancrepes commented on #113
Sorry, I have now clicked the adaptive button. Works as expected

[2020-05-31 02:47] #113 closed

[2020-06-02 01:53] jasonminsookim opened #114 "Lunar Diagnostics Report [2C5B71F2A7FBBC5FEFD3ED59E498F923C11679A2782641E10ECE4A2065B78E24] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *No*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *2018 Mac Mini*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *HDMI*

- Using an USB Docking Station or Hub:
    *No*

- L

[2020-06-02 10:20] alin23 commented on #114
Hi, I've had multiple complaints about HDMI not working with DDC on the newer Mac minis. Unfortunately I don't have access to a Mac mini to test Lunar on it so all I can recommend is to try different connectors like Thunderbolt or DisplayPort if possible.

[2020-06-02 10:20] #114 closed

[2020-06-02 16:34] mikeCentrol opened #115 "Ability to toggle Lunar's application on the display"
At the moment I have two monitors (both are AOC 2267W), the first monitor is connected via an HDMI to DVI cable and the second monitor is connected via a VGA to VGA cable.
The VGA cable connected monitor appears to work with Lunar but the DVI monitor does not.

I made updates to the brightness and contrast on the VGA connected monitor but cannot seem to match it back to the other monitor now.

Any

[2020-06-03 16:19] bastien2101 opened #116 "Lunar Diagnostics Report [D62C7C63A43C25CF527A1CC2A8AD88A61DF35F7B420E07C384E6066AD7E46000] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *write response here*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB

[2020-06-06 03:11] keithtkl opened #118 "Weather-aware Location mode"
### Name of the feature

Location Mode w/ Weather

### What problem does this feature solve?

If it is a cloudy day the monitor will be too bright as Location Mode only take sunrise sunset time into account. It would be nice if Location Mode can also consider weather condition to adjust the monitor brightness

### How should the feature work

Also take cloud coverage % and precipitation % in the a

[2020-06-06 08:01] alin23 commented on #118
This is a very good idea! I'll try to include it in the next major update.

[2020-06-06 14:34] russellfortune opened #119 "Lunar Diagnostics Report [5CDB41E1CE04BBEBA6CF5F2437857FFCAB7BED0790EB8CFA65DF3879A18891E6] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    *write response here*

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    *write response here*

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    *write response here*

- Using an USB

[2020-06-06 14:35] russellfortune commented on #111
Thanks!

https://github.com/alin23/Lunar/issues/119

[2020-06-07 19:45] patrickrushton opened #120 "Lunar Bug"
# Issue details
- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
MacBook Pro 2015

- Monitor model (LG UltraFine 5K, DELL P2715Q etc.):
Dell

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
DisplayPort

- Using an USB Docking Station or Hub:
No

- Lunar mode used (check it in the top-right corner

[2020-06-07 22:25] alin23 commented on #120
Hi @patrickrushton

Lunar can already do this. If you want to use the brightness keys, make sure you have the media keys listener enabled:
![image](https://user-images.githubusercontent.com/3819725/83981468-c0664280-a926-11ea-8bdc-36595dc84747.png)

For using different hotkeys, make sure you have hotkeys configured in Lunar settings:
![image](https://user-images.githubusercontent.com/3819725/83981

[2020-06-08 06:48] patrickrushton commented on #120
Yes, I'd already found those thanks.

What I'd like is for the media key listeners to activate ONLY in clamshell mode. So that they will adjust the brightness on my Macbook when its open (and my ext monitor will sync to that), and when in clamshell mode, the brightness keys would automatically switch to controlling my external monitor brightness directly.

[2020-06-08 16:35] alst-ovh opened #121 "Lunar Bug High Sierra"
3.2.3 won't run under High Sierra, 3.2.2 works perfect ?

[2020-06-08 18:36] patrickrushton opened #122 "Lunar Feature: Dark Mode / AppleScript triggers"
### Name of the feature

Dark Mode / AppleScript triggers

### What problem does this feature solve?

Like many people, I haven't updated to Catalina, so I don't have the automatic dark mode that is part of 10.15. Perhaps this is something Lunar can help with. I'm not sure if this should happen on sunset (based on location) or after reaching a brightness threshold (though that might get annoying).

[2020-06-08 22:22] alin23 commented on #121
There hasn't been any change that could cause this. You could try a complete reinstall by deleting the following files and folders and reinstalling the app from https://lunar.fyi :

- `/Applications/Lunar.app`
- `~/Library/Application Support/Lunar`
- `~/Library/Application Support/site.lunarapp.Lunar`
- `~/Library/Preferences/site.lunarapp.Lunar.plist`

[2020-06-08 22:22] #121 closed

[2020-06-08 22:29] alin23 commented on #122
Hi @patrickrushton !
Unfortunately this is completely out of the scope of Lunar. This is just an app to control external displays, not make changes to the system appearance.

You can use crontab for this specific use case.
Run `crontab -e` to edit your crontab add add something like:
[code]

You can also use `sunwait` to execute the script at sunset/sunrise: https://raspberrypi.stackexchange.com/q

[2020-06-08 22:29] #122 closed

[2020-06-09 05:05] patrickrushton commented on #122
Fair enough. I always found the "dark mode at sunset" a nice feature in f.lux. I'll try the solutions you suggested.

[2020-06-09 07:50] alin23 commented on #120
The brightness keys will still control your Macbook display when the lid is open and the cursor is on the Macbook display. The brightness keys will always control the monitor where the cursor is.

I think that this is a good compromise to be able to fine tune monitors one by one while still being able to control all of them at once when using the custom hotkeys.

[2020-06-09 07:50] #120 closed

[2020-06-09 08:08] alst-ovh commented on #121
Doesn't Help, Library missing.

Process:               Lunar [3628]
Path:                  /Applications/Lunar.app/Contents/MacOS/Lunar
Identifier:            site.lunarapp.Lunar
Version:               3.2.3 (3.2.3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Lunar [3628]
User ID:               501

Date/Time:             2020-06-09 10:00:19.636 +02

[2020-06-09 08:10] alst-ovh opened #123 "Doesn't Help, Library missing."
Doesn't Help, Library missing.

Process:               Lunar [3628]
Path:                  /Applications/Lunar.app/Contents/MacOS/Lunar
Identifier:            site.lunarapp.Lunar
Version:               3.2.3 (3.2.3)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Lunar [3628]
User ID:               501

Date/Time:             2020-06-09 10:00:19.636 +02

[2020-06-09 08:13] alin23 commented on #121
Check out the first point in the troubleshooting section: https://github.com/alin23/Lunar#troubleshooting

[2020-06-09 08:13] alin23 commented on #123
This is already addressed in the troubleshooting section: https://github.com/alin23/Lunar#troubleshooting

[2020-06-09 08:13] #123 closed

[2020-06-09 09:13] patrickrushton commented on #120
I'm confused by this last sentence. On my system the custom hotkeys do not control all the screens at once - they only adjust my external monitor, regardless of whether I'm in sync or manual mode.

[2020-06-09 09:37] alin23 commented on #120
All the external monitors I mean. Lunar supports any number of external monitors, and it doesn't control the built-in monitor at all as that is what macOS is good at.

So for example, if you had 3 monitors connected to your Macbook, the brightness keys would allow you to fine tune them one by one by moving the cursor on them, and the custom hotkeys would change the brightness/contrast for all of t

[2020-06-09 10:04] patrickrushton commented on #120
Gotcha. I'd expected the brightness keys to always adjust both, since that's the behaviour I'd prefer once I've got the sync profile working nicely. But I will try and get into the habit of moving my cursor to the MacBook internal display before I hit those keys.

Thanks for the replies and the nice app.

[2020-06-09 10:12] alin23 commented on #120
Yes, it's annoying to do that every time you want to adjust the Macbook brightness, but I hoped that this wouldn't be an action you do often since the adaptive algorithm of macOS is pretty good in keeping the Macbook brightness in sync with the ambient light.

If you find yourself adjusting the Macbook brightness too often then you might want to reset the curve that the macOS learned over time by

[2020-06-12 22:24] aguscha333 opened #124 "Lunar Diagnostics Report [63F95418D6A6D57FDBE7336A018FBCDE899537833441CED971DCCC3C1786FCC1] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    no

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 2019 13"

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    HDMI-to-USB-C

- Using an USB Docking Station or Hub:

[2020-06-13 09:40] alin23 commented on #124
Hi @aguscha333 !

Thanks for the detailed report!

So Lunar was able to change your monitor's brightness before but after a restart it can't do that anymore? Are the cable and laptop/monitor ports used the same as when Lunar was working?

Unfortunately I lost the diagnostics log because the cheap server I use for this ran out of disk space. Could you please run diagnostics again, but without openi

[2020-06-13 18:39] aguscha333 commented on #124
Thanks for the quick response! The cable is the same, I've tried on all the usb-c ports my MacBook has and none of them work after that restart that broke it all.

I ran a diagnostics again but didn't create a new issue as you asked. Let me know if you find something or if there is anything else I can do to help you find what is going on.

[2020-06-13 18:43] aguscha333 commented on #124
Another thing that happens depending on the port I have the cable connected to is that some times when I press the brightness up or down buttons on my magic keyboard the external monitor screen flashes to green and then immediately goes back to normal. Don't know if it has anything to do with lunar but thought it would be worth mentioning

[2020-06-13 18:45] alin23 commented on #124
Huh, that sounds like a problem with the monitor. Lunar listens for brightness keys when the cursor is on an external monitor and sends a brightness DDC message to that specific monitor. Try to check if that green flash only happens when the cursor is on the external monitor.

I'm taking a look through the logs right now.

[2020-06-13 19:04] alin23 commented on #124
The logs show no issue with Lunar or the Macbook, the DDC messages seem to get sent but there's no way to see what the monitor does with them. I checked the error reporting tool I use and there's nothing coming from your user id.

So I think it is safe to say that Lunar is not the issue here and most likely it is the cable or the monitor.

Just yesterday one of my coworkers told me that one of his

[2020-06-13 19:04] #124 closed

[2020-06-13 20:45] aguscha333 commented on #124
I have the same brand of cable different model 😞. So probably that is the problem and won't be able to get it to work. Thanks for taking the time to try and see what was wrong 🙂

[2020-06-15 02:40] aisamu opened #125 "Mac mini 2018 HDMI connection not passing DDC messages"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
Mac mini 2018

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
HDMI_HDMI

- Using an USB Docking Station or Hub:
No

- Lunar mode used (che

[2020-06-15 08:21] alin23 commented on #125
Unfortunately, if ddcctl doesn't work either, then it is a hardware connection problem.

You can try different connections like the Thunderbolt 3 connector on the Mac Mini or a different HDMI cable. I don't know what the heck is wrong with these Mac Minis, I've had countless complaints from Mac Mini users about the HDMI connection.

It's possible that it just needs different DDC message timing but

[2020-06-15 12:33] aisamu commented on #125
I assumed the usb-c dongle would have less chance of working, but it turns out I was wrong!
Thanks for the tip!

I'd gladly test this for you.

[2020-06-15 12:37] alin23 commented on #125
I'll post here the binary if I get some time to work on a possible solution for this. 😊

[2020-06-17 05:53] creamsoda17022 opened #126 "yer10!Lunar Diagnostics Report [912611C2EF6424C5E9BE5D5ED1DBEDA1A5F47A47CB68F1E03E72359E5197BFC6] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    Kind of, it doesn't respond well and the display only dims when the diagnostic is run. After that, the brightness won't increase.

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 2014 w/ Retina

- Monitor connection to the Mac devic

[2020-06-17 07:43] alin23 commented on #126
That means the iMac has an even higher range than 255. Unfortunately DDC only supports 8-bit integers for specifying the brightness value so we can't do anything in this case.

For this to work, the iMac display should have had some custom code inside its firmware to map its brightness range to 0-255 when DDC is used

Thanks for the report! It is a good insight to have, I'll try to add this inform

[2020-06-17 07:43] #126 closed

[2020-06-18 03:43] sommeow opened #127 "Lunar Diagnostics Report [8C3AC84392049CFAE47C95EF4ACE023880236A437BBA586660BA8664D6288AF0] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
    No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    MacBook Pro 2018 - OS 10.15.5

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, miniDisplayPort-to-DisplayPort etc.):
    HDMI to USB-C

- Using an USB Docking Station or

[2020-06-18 03:46] sommeow commented on #127
Ope nevermind. Figured it out. I derped.

[2020-06-18 03:46] #127 closed

[2020-06-18 09:15] alin23 commented on #127
Hi @sommeow! Could you please write a short summary of what caused the confusion or the thing that didn't work? ^_^
I'm working on making Lunar more foolproof and real-world cases help me the most.

[2020-06-19 15:56] IMD-Y3 opened #128 "Lunar Diagnostics Report [4F04B8E57DABB1F44B4FE975ADE8CA2BCFF99DB0873EC82DF93A515780C3143C] [3.2.3]"
# Issue details
- Was the diagnostics process able to change the brightness on your external monitor(s)?
   No

- Mac device where Lunar is installed (Macbook Pro 2019, iMac, Mac Mini, Hackintosh etc.):
    Macbook Pro 15" 2015 (dedicated AMD Gpu)
    LG UltraFine 21.5" 4K (first edition, so 4096x2304 native res: 22MD4KA-B)

- Monitor connection to the Mac device (HDMI-to-USB-C, USB-C-to-USB-C, mi